<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Apollo Pharmacy :: CRM</title>
        <style type="text/css">
            .ui-menubar  {
                border: 1px solid #aed0ea !important;
                background: #74b2e2 50% 50% repeat-x !important;
                color: #DDEEFF !important;
                font-weight: bolder !important;
            }
            .ui-submenu  {
                border: 1px solid #aed0ea !important;
                background: #74b2e2 50% 50% repeat-x !important;
                color: #DDEEFF !important;
                font-weight: bolder !important;
            }
            .ui-menuitem  {
                border: 1px solid #aed0ea !important;
                background: #74b2e2 50% 50% repeat-x !important;
                color: #DDEEFF !important;
                font-weight: bolder !important;
            }

        </style>
    </h:head>
    <h:body>
        <h:form>
            <p:toolbar>
                <p:toolbarGroup align="left">
                    Welcome, #{al.username}                    
                </p:toolbarGroup>
                <p:toolbarGroup align="right">
                    <p:commandButton ajax="false" action="#{al.logout}" value="Logout"/>
                </p:toolbarGroup>

            </p:toolbar>


        </h:form>
    </h:body>
</html>

