<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Apollo Pharmacy :: SOMS</title>
        <h:outputStylesheet name="resources/css/default.css" />
    </h:head>
    <h:body>
        <h:form>
            <p:ajaxStatus onstart="PF('statusDialog').show();" onsuccess="PF('statusDialog').hide();"/>
            <p:dialog modal="true" widgetVar="statusDialog" header="Status - Please wait while processing"
                      draggable="false" closable="false">
                <p:graphicImage value="/images/ajaxloadingbar.gif" />
            </p:dialog>
            <p:toolbar>
                <p:toolbarGroup align="left">
                    Welcome, #{al.username}
                    <br />
                    <p:menubar autoDisplay="true" >
                        <p:submenu label="Order" icon="ui-icon-document">
                            <p:menuitem value="Home" url="hoLander.jsf" />
                            <p:menuitem value="Customer 360 View" url="c360.jsf" />
                        </p:submenu>
                        <p:submenu label="Thirdparty Order">
                            <p:submenu label="New Orders">
                                <p:menuitem value="MediAssist Order"  url="TPOrders.jsf"  />
                                <p:menuitem value="Online (Auto)"  url="OnlineAuto.jsf"  />
                                <p:menuitem value="Online (COD/Prepaid)"  url="Online.jsf"  />
                                <p:menuitem value="AskApollo (Auto)"  url="PreVerificationOrders.jsf"  />
                                <p:menuitem value="AskApollo (Manual)" url="AskApollo.jsf" />     
                                <p:menuitem value="Apollo247 (Auto)"  url="PreVerificationOrders247.jsf"  />
                                <p:menuitem value="Apollo247 (Manual)" url="Apollo247.jsf" />     
                            </p:submenu>
                            <p:submenu label="MDIndia">
                                <p:menuitem value="MDIndia Estimations"  url="EstimationOrders.jsf"  />                                              <p:menuitem value="MDIndia In Process"  url="EstimationInProcess.jsf"  />     
                                <p:menuitem value="MDIndia Review"  url="EstimationReview.jsf"  />  
                            </p:submenu>
                      <p:menuitem value="Delivery Confirmation" url="thirdPartyOrderClose.jsf" />                                          <p:menuitem value="Order Cancellation" url="thirdPartyOrderCancel.jsf" />                                    
                            <p:menuitem value="Failure (Online/AskApollo)" url="CommerceNonPaid.jsf" /> 
                        </p:submenu>

                        <p:submenu label="CMS">
                            <p:menuitem value="New Log" url="CMS.jsf" />
                            <p:menuitem value="Process Log" url="CMSMGMT.jsf" />     
                        </p:submenu>
                        <p:submenu label="Report">
                            <p:menuitem value="SOMS Report" url="Reports.jsf" />
                            <p:menuitem value="XBEES Report" url="Logistics.jsf" />
                            <p:menuitem value="FMCG Stock Report" url="Stock.jsf" /> 
                            <p:menuitem value="CMS Report" url="CMSReport.jsf" />   
                            <p:menuitem value="Process Log Report" url="OTPLog.jsf" /> 
                        </p:submenu>


                    </p:menubar>


                </p:toolbarGroup>
                <p:toolbarGroup align="right">
                    <p:commandButton ajax="false" action="#{al.logout}" value="Logout"/>
                </p:toolbarGroup>

            </p:toolbar>

            <p:dialog header="IM" maximizable="true" closeOnEscape="true" widgetVar="IM" 
                      modal="true"
                      style="text-align: left" width="100%">
                <h:outputText value="http://172.16.76.124:8084/CRMIM/index.jsp?username=#{al.username}" />
                <iframe src="http://172.16.76.124:8084/CRMIM/index.jsp?username=#{al.username}" frameborder="1" scrolling="auto"  width="75%" height="600" />
            </p:dialog> 

        </h:form>
    </h:body>
</html>

