<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <body>

        <ui:composition template="./master.xhtml">

            <ui:define name="content">

                <p:barChart value="#{chartView.myPANIndiaAnalytics}"
                            title="PAN India Analytics" animate="true" xaxisAngle="45" stacked="true"
                            extender="catext1"
                            barMargin="2"
                            orientation="vertical"
                            style="height: 850px;"/>
                <script type="text/javascript">
        function catext1() {
            this.cfg.legend= {
            renderer: jQuery.jqplot.EnhancedLegendRenderer,
                show: true,
                location: 's',
                barWidth :5,
                rows :1,
                column : 3,
                showSwatch :false,
                placement: 'outsideGrid',
                rendererOptions: {
                dataLabels: [ '%%']
        },
        cursor: {
            showTooltipUnitPosition: true,
                tooltipFormatString: '%1P',
                formatString: true
        },
        seriesToggle: true
        },
         this.cfg.seriesDefaults.rendererOptions = {
        barWidth : 30
    };
        }
        </script>
            </ui:define>

        </ui:composition>

    </body>
</html>
