<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <body>

        <ui:composition template="./shopMaster.xhtml">

            <ui:define name="content">
                <h:form id="myOrd">
                    <p:messages autoUpdate="true" showSummary="true" closable="true"/>
                    <p:ajaxStatus onstart="PF('statusDialog').show();" onsuccess="PF('statusDialog').hide();"/>
                    <p:dialog modal="true" widgetVar="statusDialog" header="Status - Please wait while processing"
                              draggable="false" closable="false">
                        <p:graphicImage value="/images/ajaxloadingbar.gif" />
                    </p:dialog>
                    <p:panel header="My Processing Orders (Initiated yet to delivered)">
                        <p:dataTable id="ordSum" value="#{bac.myInitiatedOrd}" var="ord"
                                     scrollable="true" scrollHeight="400">
                            <p:column headerText="Order No" style="width: 8%">
                                <h:outputText value="#{ord.ordNo}"/>
                            </p:column>
                            <p:column headerText="Order Date" style="width: 10%">
                                <h:outputText value="#{ord.ordDate}"/>
                            </p:column>
                            <p:column headerText="Customer Name" style="width: 15%">
                                <h:outputText value="#{ord.patName}"  />
                            </p:column>
                            <p:column headerText="Gender" style="width: 5%">
                                <h:outputText value="#{ord.gender}"/>
                            </p:column>
                            <p:column headerText="Mobile Number" style="width: 10%">
                                <h:outputText value="#{ord.mobno}"/>
                            </p:column>

                            <p:column headerText="Remarks"  style="width: 10%">
                                <h:outputText value="#{ord.remarks}" />
                            </p:column>
                            <p:column headerText="Order Source"  style="width: 10%">
                                <h:outputText value="#{ord.orderSource}" />
                            </p:column>

                            <p:column headerText="ACTION" style="width: 4%">
                                <p:commandButton image="ui-icon-search" update=":myOrd:cartDetail"
                                                 oncomplete="PF('ordDetail').show()"
                                                 actionListener="#{bac.myOrderDetail}">
                                    <f:param name="ordNo" value="#{ord.ordNo}"/>
                                    <f:setPropertyActionListener value="#{ord}" target="#{bac.selectedrow}"/>
                                </p:commandButton>
                            </p:column>
                            <p:column headerText="CANCEL" style="width: 4%">
                                <p:commandButton image="ui-icon-cancel" update=":myOrd:cancelDiag"
                                                 oncomplete="PF('cancelConfirmation').show()">
                                    <f:param name="ordNo" value="#{ord.ordNo}" />
                                    <f:setPropertyActionListener value="#{ord}" target="#{bac.selectedrow}"/>
                                </p:commandButton>
                            </p:column>
                        </p:dataTable>
                        <p:dialog modal="true"
                                  header="Transaction Detail" widgetVar="ordDetail"
                                  resizable="false"
                                  showEffect="explode" hideEffect="explode" width="750px">
                            <h:panelGrid columns="1" id="cartDetail">
                                <h:outputText value="Customer Address : #{bac.selectedrow.commAddr}"/>
                                <p:dataTable value="#{bac.myOrdDet}" var="trx">
                                    <p:column headerText="ARTICLE CODE">
                                        <h:outputText value="#{trx.artcode}"/>
                                    </p:column>
                                    <p:column headerText="ARTICLE NAME">
                                        <h:outputText value="#{trx.artname}"/>
                                    </p:column>
                                    <p:column headerText="ORDERED QUANTITY">
                                        <h:outputText value="#{trx.qty}"/>
                                    </p:column>
                                    <p:column headerText="MRP">
                                        <h:outputText value="#{trx.mrp}" />
                                    </p:column>
                                </p:dataTable>
                                <p:panel header="Delivery Confirmation">
                                    <center>
                                        <h:panelGrid columns="2" cellpadding="4" cellspacing="4">
                                            <h:outputText value="Security PIN"/>
                                            <h:inputText value="#{bac.securityPin}"/>
                                            <p:commandButton value="Confirm Delivery"
                                                             onsuccess="PF('ordDetail').hide();"
                                                             actionListener="#{bac.ordClosureInit}"
                                                             update=":myOrd:ordSum">
                                                <f:param name="ordNo" value="#{bac.selectedrow.ordNo}" />
                                                <f:param name="ordSrc" value="#{bac.selectedrow.orderSource}" />
                                                <f:param name="security" value="yes" />
                                                <f:setPropertyActionListener
                                                    target="#{bac.selectedrow}"
                                                    value="#{ord}" />
                                            </p:commandButton>
                                            <p:commandButton value="Confirm Delivery without PIN"
                                                             onsuccess="PF('ordDetail').hide();"
                                                             actionListener="#{bac.ordClosureInit}"
                                                             update=":myOrd:ordSum">
                                                <f:param name="ordNo" value="#{bac.selectedrow.ordNo}" />
                                                <f:param name="ordSrc" value="#{bac.selectedrow.orderSource}" />
                                                <f:param name="security" value="no" />
                                                <f:setPropertyActionListener
                                                    target="#{bac.selectedrow}"
                                                    value="#{ord}" />
                                            </p:commandButton>


                                        </h:panelGrid>
                                    </center>
                                </p:panel>
                            </h:panelGrid>
                            <br />
                        </p:dialog>
                        <p:dialog modal="true"
                                  header="Cancel Confirmation" widgetVar="cancelConfirmation"
                                  resizable="false" width="500px"
                                  showEffect="explode" hideEffect="explode">

                            <h:panelGrid id="cancelDiag" width="100%">
                                <center>
                                    <h:outputText value="Are you sure to cancel order (#{bac.selectedrow.ordNo})?"
                                                  style="icon: ui-icon-alert"/>
                                </center>
                                <p:separator/>
                                <h:panelGrid columns="2" style="align-items: center" width="100%">
                                    <h:outputText value="Cancel Reason" />
                                    <p:selectOneMenu value="#{bac.actRemarks}">
                                        <f:selectItem itemLabel="Cancelled by customer" itemValue="Cancelled by customer" />
                                        <f:selectItem itemLabel="Out of delivery area" itemValue="Out of delivery area" />
                                        <f:selectItem itemLabel="Invalid prescription" itemValue="Invalid prescription" />
                                        <f:selectItem itemLabel="Stock not available" itemValue="Stock not available" />
                                    </p:selectOneMenu>
                                </h:panelGrid>
                                <h:panelGrid width="100%" columns="2">
                                    <p:commandButton value="Yes" style="float: right"
                                                     styleClass="ui-confirmdialog-yes" icon="ui-icon-check"
                                                     onsuccess="PF('cancelConfirmation').hide();"
                                                     actionListener="#{bac.cancelOrderInit}"
                                                     update=":myOrd:ordSum">
                                        <f:param name="ordNo" value="#{bac.selectedrow.ordNo}" />
                                        <f:param name="ordSrc" value="#{bac.selectedrow.orderSource}" />
                                        <f:param name="cancelFrom" value="RFDOrd" />
                                    </p:commandButton>
                                    <p:commandButton value="No" style="float: left"
                                                     onclick="PF('cancelConfirmation').hide();"
                                                     type="button" styleClass="ui-confirmdialog-no"
                                                     icon="ui-icon-close" />
                                </h:panelGrid>
                            </h:panelGrid>
                        </p:dialog>
                    </p:panel>
                    <br/>
                </h:form>
            </ui:define>

        </ui:composition>

    </body>
</html>
