<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Apollo Pharmacy CRM :: CUSTOMER 360</title>
        <style type="text/css">
            .ui-widget,
            .ui-widget .ui-widget {
                font-size: 12px !important;
            }
            .alignBottom {
                vertical-align: baseline;
                border: 0;
            }
            .alignTop {
                vertical-align: top;
                border: 0;
            }
            .ui-datatable.ui-widget {
                width: 100% !Important;
            }
        </style> 
    </h:head>
    <h:body>
        <ui:composition template="./master.xhtml">
            <ui:define name="content">
                <h:form id="c360FV">
                    <p:panel header="Customer 360">
                        <h:panelGrid columns="3">
                            <h:outputText value="Customer Mobile Number" />
                            <p:inputText value="#{c360.mobNo}" />
                            <p:commandButton ajax="true" value="Get Details" action="#{c360.fetchCustBillHistory}" update="billHistorySummmary,timelineEVNT,billSummary" />
                        </h:panelGrid>
                        <h:panelGrid columns="2" columnClasses="alignTop,alignTop" 
                                     id="timelineEVNT" width="100%">
                            <p:panel header="Customer Sales Events"> 
                                <p:outputLabel value="Transaction between : #{c360.min} and : #{c360.max}" /> 
                                <p:timeline id="timeline" animate="true" value="#{c360.model}" height="250px" width="950px"
                                            min="#{c360.min}"
                                            max="#{c360.max}"
                                            zoomMin="#{c360.zoomMin}"
                                            zoomMax="#{c360.zoomMax}"
                                            selectable="#{c360.selectable}"
                                            zoomable="#{c360.zoomable}"
                                            moveable="#{c360.moveable}"
                                            stackEvents="#{c360.stackEvents}"
                                            axisOnTop="#{c360.axisOnTop}"
                                            eventStyle="#{c360.eventStyle}"
                                            snapEvents="#{c360.snapEvents}"
                                            showCurrentTime="#{c360.showCurrentTime}"
                                            showNavigation="#{c360.showNavigation}">
                                    <p:ajax event="select" listener="#{c360.onSelect}"/>
                                </p:timeline>
                            </p:panel>
                            <p:panel header="Loyalty Informations">
                                <p:panelGrid columns="2">
                                    <h:outputLabel value="Customer Name "/>
                                    <h:outputText value="#{c360.loyCustName}" />
                                    <h:outputLabel value="Available Points "/>
                                    <h:outputText value="#{c360.loyPoints}" />
                                    <h:outputLabel value="Membership "/>
                                    <h:outputText value="#{c360.loyMember}" />
                                </p:panelGrid>


                            </p:panel>
                        </h:panelGrid>
                        <h:panelGrid columns="2" columnClasses="alignTop,alignTop">
                            <p:panel header="Bill History" id="billHistorySummmary">
                                <p:dataTable scrollHeight="250" scrollable="true"
                                             value="#{c360.billHistory}" var="bh"
                                             emptyMessage="No Earlier Transactions found for this customer">
                                    <p:column headerText="SITE">
                                        <h:outputLabel value="#{bh.siteName} - #{bh.siteID}" />
                                    </p:column>
                                    <p:column headerText="PARTNER MEDIUM">
                                        <h:outputLabel value="#{bh.partName} - #{bh.partID}" />
                                    </p:column>
                                    <p:column headerText="NO OF ORDERS">
                                        <h:outputLabel value="#{bh.noofBills}" />
                                    </p:column>
                                    <p:column>
                                        <p:commandButton action="#{c360.fetchCustBillSummaryPartnerwise}"
                                                         update=":c360FV:billSummary,:c360FV:itemDetails"
                                                         image="ui-icon-arrowthickstop-1-e">
                                            <f:param name="siteID" value="#{bh.siteID}"/>
                                            <f:param name="partnerID" value="#{bh.partID}"/>
                                        </p:commandButton>
                                    </p:column>                            
                                </p:dataTable>
                            </p:panel>
                            <p:panel header="Bill Summary" id="billSummary">
                                <p:dataTable scrollHeight="250" scrollable="true"
                                             value="#{c360.billSummary}" var="bs"
                                             emptyMessage="Please select detail from Bill History Summary">
                                    <p:column headerText="CUSTOMER NAME">
                                        <h:outputText value="#{bs.custName}" />
                                    </p:column>
                                    <p:column headerText="BILL NUMBER">
                                        <h:outputText value="#{bs.billNo}" />
                                    </p:column>
                                    <p:column headerText="BILL DATE">
                                        <h:outputText value="#{bs.billDate}" />
                                    </p:column>
                                    <p:column headerText="TOTAL BILL VALUE">
                                        <h:outputText value="#{bs.total}" />
                                    </p:column>
                                    <p:column headerText="DISCOUNT %">
                                        <h:outputText value="#{bs.disc}" />
                                    </p:column>
                                    <p:column headerText="NET TOTAL">
                                        <h:outputText value="#{bs.netTotal}" />
                                    </p:column>   
                                    <p:column>
                                        <p:commandButton action="#{c360.fetchItemDetails(bs.id)}" 
                                                         icon="ui-icon-extlink"
                                                         update=":c360FV:itemDetails"
                                                         oncomplete="PF('billDetail').show()" />
                                    </p:column>
                                </p:dataTable>
                            </p:panel>                           
                        </h:panelGrid>
                        <p:dialog widgetVar="billDetail" 
                                  header="Item Details"
                                  closable="true" closeOnEscape="true"
                                  footer="Press ESC to close this dialog window!!!"
                                  width="500" showHeader="true"
                                  modal="true">
                            <p:dataTable id="itemDetails" 
                                         value="#{c360.billItemDetail}"
                                         var="itemDetail">
                                <p:column headerText="ART. CODE">
                                    <h:outputText value="#{itemDetail.artCode}" />
                                </p:column>
                                <p:column width="250" headerText="ARTICLE NAME">
                                    <h:outputText value="#{itemDetail.artName}" />
                                </p:column>
                                <p:column headerText="BILL QTY">
                                    <h:outputText value="#{itemDetail.qty}" />
                                </p:column>
                                <p:column headerText="MRP">
                                    <h:outputText value="#{itemDetail.mrp}" />
                                </p:column>
                            </p:dataTable>
                        </p:dialog>
                    </p:panel>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>
