<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Call Center CMS</title>
        <link rel="shortcut icon" href="favicon.ico" />
        <style type="text/css">
            .ui-widget,
            .ui-widget .ui-widget {
                font-size: 10px !important;
                text-align: left;
            }
            .alignBottom {
                vertical-align: baseline;
                border: 0;
            }
            .alignTop {
                vertical-align: top;
                border: 0;
            }
            .ui-datatable.ui-widget {
                width: 100% !Important;
            }
        </style>
    </h:head>
    <h:body>
        <ui:composition template="./master.xhtml">
            <ui:define name="content">
                <h:panelGrid>
                    <p:panel header="Processing Calls">
                        <h:form id="PCG">
                            <p:ajaxStatus onstart="PF('statusDialog').show();" onsuccess="PF('statusDialog').hide();"/>
                            <p:dialog modal="true" widgetVar="statusDialog" header="Status - Please wait while processing"
                                      draggable="false" closable="false">
                                <p:graphicImage value="/images/ajaxloadingbar.gif" />
                            </p:dialog>
                            <p:messages autoUpdate="true" closable="true" showSummary="true" />

                            <p:dataTable value="#{cc.pcc}" id="pc" var="pcall" style="width: 50%"
                                         paginator="true" rows="15" emptyMessage="No Calls for you as of now"
                                         filteredValue="#{cc.filteredprocessingCalls}" filterDelay="600"
                                         paginatorPosition="bottom" paginatorAlwaysVisible="true">

                                <p:column headerText="PROBLEM TYPE" width="auto" 
                                          filterBy="#{pcall.PROBLEMTYPE}" 
                                          filterMatchMode="contains">
                                    <h:outputText value="#{pcall.PROBLEMTYPE}" />
                                </p:column>
                                <p:column headerText="AGENT NAME" width="52">
                                    <h:outputText value="#{pcall.REGBY}" />
                                </p:column>
                                <p:column headerText="CUSTOMER NAME" width="85">
                                    <h:outputText value="#{pcall.CUSTNAME}" />
                                </p:column>
                                <p:column headerText="CONTACT NO" width="65"
                                          filterBy="#{pcall.PRICONTACTNO}" filterMatchMode="contains">
                                    <h:outputText value="#{pcall.PRICONTACTNO}" />
                                </p:column>
                                <p:column headerText="LOCATION" width="85">
                                    <h:outputText value="#{pcall.LOCATION}" style="text-align: left" />
                                </p:column>
                                <p:column headerText="TRACKING REF. NO" width="170"
                                          filterBy="#{pcall.TRACKINGREFNO}" filterMatchMode="contains">
                                    <h:outputText value="#{pcall.TRACKINGREFNO}" />
                                </p:column>
                                <p:column headerText="ORDER SOURCE" width="auto" 
                                          filterBy="#{pcall.ORDERSOURCE}" filterMatchMode="contains">
                                    <h:outputText value="#{pcall.ORDERSOURCE}" />
                                </p:column>
                                <p:column headerText="SITE" width="AUTO">
                                    <h:outputText value="#{pcall.SITEID} - #{pcall.SITENAME}"/>
                                </p:column>
                                <p:column headerText="TICKETNO" width="auto"
                                          filterBy="#{pcall.TICKETNO}" filterMatchMode="contains">
                                    <h:outputText value="#{pcall.TICKETNO}" />
                                </p:column>
                                <p:column headerText="REGISTERED DATE" width="85">
                                    <h:outputText value="#{pcall.REGDATETIME}" />
                                </p:column>
                                <p:column headerText="VIEW DETAIL" width="35">
                                    <p:commandButton update=":processdialogue:callD,:processdialogue:history"  oncomplete="PF('callD').show()"
                                                     image="ui-icon ui-icon-search">
                                        <f:setPropertyActionListener value="#{pcall}"
                                                                     target="#{cc.selectedProcessingCalls}" />
                                    </p:commandButton>
                                </p:column>
                            </p:dataTable>
                        </h:form>
                        <h:form id="processdialogue">
                            <p:dialog modal="true" closeOnEscape="true" maximizable="true" footer="Press Esc to close this window" header="Call Detail" widgetVar="callD" resizable="false"
                                      showEffect="explode" hideEffect="explode" width="750px">
                                <h:panelGrid id="callD" columns="2" cellpadding="5" cellspacing="5">
                                    <h:outputText value="CUSTOMER NAME" />
                                    <h:outputText value="#{cc.selectedProcessingCalls.CUSTNAME}" style="font-weight: bold"/>

                                    <h:outputText value="CONTACT" />
                                    <h:outputText value="#{cc.selectedProcessingCalls.PRICONTACTNO} - #{cc.selectedProcessingCalls.SECCONTACTNO}" style="font-weight: bold"/>

                                    <h:outputText value="MAIL ID" />
                                    <h:outputText value="#{cc.selectedProcessingCalls.MAILID}" style="font-weight: bold"/>

                                    <h:outputText value="TICKET NO" />
                                    <h:outputText value="#{cc.selectedProcessingCalls.TICKETNO}" style="font-weight: bold"/>

                                    <h:outputText value="PROBLEM DESCRIPTION"  style="width: 50px; text-align: justify"/>
                                    <h:outputText value="#{cc.selectedProcessingCalls.PROBLEMDESCRIPTION}" style="font-weight: bold"/>

                                    <h:outputText value="SITEID"  style="width: 50px; text-align: justify"/>
                                    <h:outputText value="#{cc.selectedProcessingCalls.SITEID} - #{cc.selectedProcessingCalls.SITENAME}" style="font-weight: bold"/>


                                    <h:outputText value="PROB. REG. DATE" />
                                    <h:outputText value="#{cc.selectedProcessingCalls.REGDATETIME}" style="font-weight: bold" />

                                    <p:outputLabel for="fwdto" value="FORWARD TO " />
                                    <p:selectOneMenu id="fwdto" value="#{cc.fwdTo}"  
                                                     required="true" requiredMessage="Forward to required"
                                                     style="width:150px">
                                        <f:selectItem itemLabel="Select Forward to" itemValue="" noSelectionOption="true" />
                                        <f:selectItems value="#{cc.allott}" var="name"
                                                       itemLabel="#{name.allottedMem}" 
                                                       itemValue="#{name.allocationID}"/>
                                    </p:selectOneMenu>

                                    <h:outputText value="REMARKS" />
                                    <h:inputTextarea value="#{cc.remarks}" cols="50" rows="5" 
                                                     required="true" 
                                                     requiredMessage="Remarks can't be empty message" style="font-weight: bold" />

                                    <h:outputText value="EMAILID" />
                                    <p:inputText value="#{cc.emailID}" size="25"/>

                                    <center>
                                        <h:panelGrid columns="3">
                                            <p:commandButton value="CLOSE" image="ui-icon-close"
                                                             onsuccess="PF('callD').hide();"
                                                             actionListener="#{cc.initClose}"
                                                             update=":PCG:pc">
                                                <f:param name="ticketNo" value="#{cc.selectedProcessingCalls.TICKETNO}"/>
                                                <f:param name="action" value="CLOSE"/>
                                            </p:commandButton>
                                            <p:commandButton value="HOLD AND PROCESS" image="ui-icon-pause"
                                                             actionListener="#{cc.initProcess}"
                                                             onsuccess="PF('callD').hide();">
                                                <f:param name="ticketNo" value="#{cc.selectedProcessingCalls.TICKETNO}"/>
                                                <f:param name="action" value="HOLD AND PROCESS"/>
                                            </p:commandButton> 
                                            <p:commandButton value="SEND MAIL" image="ui-icon-mail-closed"
                                                             actionListener="#{cc.initProcess}"
                                                             onsuccess="PF('callD').hide();">
                                                <f:param name="ticketNo" value="#{cc.selectedProcessingCalls.TICKETNO}"/>
                                                <f:param name="action" value="MAIL"/>
                                            </p:commandButton> 
                                        </h:panelGrid>
                                    </center>
                                </h:panelGrid>
                                <p:panel id="history" header="History of this Call">
                                    <p:dataTable value="#{cc.ch}" var="history" scrollable="true" scrollHeight="100" emptyMessage="No History Found">
                                        <p:column headerText="PROCESS BY" width="15%">
                                            <h:outputText value="#{history.regby}"/>
                                        </p:column>
                                        <p:column headerText="ALLOTTED" width="15%">
                                            <h:outputText value="#{history.allottedto}" />
                                        </p:column>
                                        <p:column headerText="PROCESSED DATE/TIME" width="15%">
                                            <h:outputText value="#{history.processdt}"/>
                                        </p:column>
                                        <p:column headerText="REMARKS" width="50%">
                                            <h:outputText value="#{history.remarks}"/>
                                        </p:column>
                                        <p:column headerText="ACTION" width="20%">
                                            <h:outputText value="#{history.action}"/>
                                        </p:column>
                                    </p:dataTable>
                                </p:panel>
                            </p:dialog>
                        </h:form>
                    </p:panel>
                </h:panelGrid>                        
            </ui:define>
        </ui:composition>
    </h:body>
</html>

