<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui" 
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Apollo Pharmacy :: SOMS</title>
        <style type="text/css">
            .ui-widget {
                font-size: 9px !important;
                align-content: center;
            }
            .ui-datatable-scrollable-body{
                overflow:auto;
            }
            .alignTop {
                vertical-align: top;
                border: 0;
            }
            .alignBottom {
                vertical-align: baseline;
                border: 0;
            }  
            .initiated {
                background: steelblue  !important ;
                color : black  !important;
            }
            .billed {
                background: lightgreen  !important ;
                color: black !important ;
            }
            .delivered {
                background: green  !important ;
                color: black !important ;
            }
            .cancelled {
                background: red  !important ;
                color: black !important ;
            }
            .partialreturns {
                background: olive  !important ;
                color: black !important ;
            }
            .fullreturns {
                background: orangered  !important ;
                color: black !important ;
            }
            .ui-datatable-hor-scroll .ui-datatable-tablewrapper,.scrolling-div .ui-datatable-tablewrapper{
                overflow: auto;
                width: 100%;
                padding-bottom: 5px;
                white-space: pre-wrap;
                word-wrap: break-word;
            }.ui-datatable tbody td.wrap {
                white-space: pre-wrap;
                word-wrap: break-word;
            }   
            .tCliente {     
                background-image: url(../images/logo_tropidatos.gif);
            }
        </style>
    </h:head>
    <h:body>
        <p:tabView id="ReportBase" 
                   orientation="top">
            <p:tab title="Track Order">
                <h:form id="orderStatus"  prependId="false">
                    <h:panelGrid cellpadding="5" cellspacing="5" width="100%">
                        <p:panel header="Order Status">
                            <h:outputText value="APOLLO ORDER NO * " />
                            <p:autoComplete required="true" dropdown="true" requiredMessage="APOLLO ORDER ID NOT FOUND"
                                            emptyMessage="ORDER ID NOT BELONGS TO PRACTO"
                                            queryDelay="600" 
                                            forceSelection="true" id="orderstatussiteid" maxResults="10"
                                            value="#{sChange.ordno}" 
                                            completeMethod="#{sChange.completeOrderList}" minQueryLength="3" size="20">
                                <p:ajax event="itemSelect" listener="#{sChange.action}" update="orderStatusGrid" /> 
                            </p:autoComplete>
                            <h:panelGrid cellpadding="5" cellspacing="5" id="orderStatusGrid" columnClasses="alignTop,alignTop">
                                <h:panelGrid columns="8" cellpadding="5" cellspacing="5">
                                    <h:outputLabel value="SITEID " />
                                    <p:outputLabel value="#{sChange.siteid}" style="font-weight:bold; color: navy" />

                                    <h:outputLabel value="VENDOR NAME " />
                                    <p:outputLabel value="#{sChange.ordersource}" style="font-weight:bold; color: navy" />

                                    <h:outputLabel value="ORDERED DATE " />
                                    <p:outputLabel value="#{sChange.orddate}" style="font-weight:bold; color: navy" />

                                    <h:outputText value="Status" />
                                    <p:outputLabel value="#{sChange.orderStatus}" style="font-weight:bold; color: navy" />
                                </h:panelGrid>
                            </h:panelGrid>
                        </p:panel>
                    </h:panelGrid>
                </h:form>
            </p:tab>
            <p:tab title="Site Change">
                <h:form id="siteChange"  prependId="false">
                    <h:panelGrid cellpadding="5" cellspacing="5" width="100%">
                        <p:panel header="SITE CHANGE" toggleable="false">


                            <h:panelGrid cellpadding="5" cellspacing="5" id="ordid" columns="2">
                                <h:outputText value="APOLLO ORDER NO * " />
                                <p:autoComplete required="true" dropdown="true" requiredMessage="APOLLO ORDER ID NOT FOUND"
                                                emptyMessage="PROIVED ORDER ID IS NOT A OPEN ORDERID"
                                                queryDelay="600" 
                                                forceSelection="true" id="sd" maxResults="10"
                                                value="#{sChange.ordno}" 
                                                completeMethod="#{sChange.complete}" minQueryLength="3" size="20">
                                    <p:ajax event="itemSelect" listener="#{sChange.action}" update="ordid" /> 
                                </p:autoComplete>

                                <h:outputLabel value="SITEID " />
                                <p:outputLabel value="#{sChange.siteid}"/>

                                <h:outputLabel value="VENDOR NAME " />
                                <p:outputLabel value="#{sChange.ordersource}"/>

                                <h:outputLabel value="ORDERED DATE " />
                                <p:outputLabel value="#{sChange.orddate}"/>

                                <h:outputText value="NEW SITEID" />
                                <p:autoComplete required="true" dropdown="true" requiredMessage="Site Name/No is required"
                                                emptyMessage="No shop found like this"
                                                queryDelay="600" 
                                                forceSelection="true" id="cs" maxResults="10"
                                                value="#{sChange.newSite}" 
                                                completeMethod="#{sChange.completeSITE}" minQueryLength="3" size="20">                                    
                                </p:autoComplete>
                                <p:commandButton value="CHANGE SITE" ajax="true" oncomplete="PF('STATUS').show()" update="confirmation" actionListener="#{sChange.initiateSiteChange}" ></p:commandButton>
                            </h:panelGrid>
                            <p:dialog id="confirmation" widgetVar="STATUS"
                                      closeOnEscape="true" closable="true"
                                      header="Requirement Registered Successfully" modal="true">
                                <h:outputText value="#{sChange.respMessage}" />                            
                            </p:dialog>

                        </p:panel>
                    </h:panelGrid>
                </h:form>
            </p:tab>
            <p:tab title="Site Change Report">
                <h:form id="screp">
                    <p:panel header="SITE CHANGE REPORT">
                        <h:panelGrid columns="7">
                            <h:outputText value="From Date"/> 
                            <p:calendar id="SCFDate" 
                                        value="#{scr.SCFDate}"
                                        pattern="yyyy/MM/dd"
                                        maxdate="calwidget.today()"
                                        timeZone="GMT+5.30">
                                
                        <p:ajax event="dateSelect" listener="#{scr.onSCFDateSelect()}" update="SCTDate" />

                            </p:calendar>

                            <h:outputText value="To Date" /> 
                            <p:calendar id="SCTDate" 
                                        value="#{scr.SCTDate}"
                                        pattern="yyyy/MM/dd"
                                        maxdate="calwidget.today()"
                                        timeZone="GMT+5.30">
                                <p:ajax event="dateSelect" listener="#{scr.onSCTDateSelect()}" update="SCFDate" />
                            </p:calendar>
                            <p:commandButton action="#{scr.generateSiteChangeReport}"
                                             value="Generate Report" update="screport" />
                        </h:panelGrid>
                        <h:panelGrid id="screport">

                            <p:dataTable value="#{scr.scrb}" id="sc" var="sc" widgetVar="scdet"
                                         filteredValue="#{scr.scrbFilter}" filterDelay="600" paginator="true"
                                         rows="50"
                                         scrollable="true" scrollHeight="250" 
                                         scrollWidth="95%" scrollRows="20" >
                                <p:column headerText="ORDER NO" filterMatchMode="contains"
                                          filterBy="#{sc.ordNo}">
                                    <h:outputText value="#{sc.ordNo}" />                   
                                </p:column>
                                <p:column headerText="VENDOR ORDER NO" filterMatchMode="contains"
                                          filterBy="#{sc.TPOrdNo}">
                                    <h:outputText value="#{sc.TPOrdNo}" />                   
                                </p:column>
                                <p:column headerText="ORDER SOURCE"
                                          filterBy="#{sc.ordSrc}" 
                                          filterMatchMode="contains" >
                                    <h:outputText value="#{sc.ordSrc}" />                   
                                </p:column>
                                <p:column headerText="VERIFIED ON">
                                    <h:outputText value="#{sc.verifiedOn}" />
                                </p:column>
                                <p:column headerText="VERIFIED BY" 
                                          filterBy="#{sc.verifiedBy}"
                                          filterMatchMode="contains">
                                    <h:outputText value="#{sc.verifiedBy}" />
                                </p:column>
                                <p:column headerText="SOURCE SITEID"
                                          filterBy="#{sc.originSiteID}"
                                          filterMatchMode="contains">
                                    <h:outputText value="#{sc.originSiteID}" />                   
                                </p:column>
                                <p:column headerText="DESTINATION SITEID"
                                          filterBy="#{sc.changeSiteID}"
                                          filterMatchMode="contains">
                                    <h:outputText value="#{sc.changeSiteID}" />                   
                                </p:column>
                                <p:column headerText="CHANGED ON">
                                    <h:outputText value="#{sc.changedon}" />                   
                                </p:column>
                                <p:column headerText="CHANGED BY"
                                          filterBy="#{sc.changedby}"
                                          filterMatchMode="contains">
                                    <h:outputText value="#{sc.changedby}" />                   
                                </p:column>
                            </p:dataTable>                        
                            <h:commandLink id="SCexcel">
                                <h:outputText value="Export to CSV"/>
                                <p:dataExporter type="csv" target="sc" fileName="SiteChange" />
                            </h:commandLink>
                        </h:panelGrid>
                    </p:panel>
                </h:form>
            </p:tab>
            <p:tab title="No Stock Report">
                <h:form id="nsrep">
                    <p:panel header="NO STOCK REPORT">
                        <h:panelGrid columns="7">
                            <h:outputText value="From Date"/> 
                            <p:calendar id="ordNSFDate"
                                        value="#{nsRep.ordFDate}"
                                        pattern="yyyy/MM/dd"
                                        maxdate="calwidget.today()"
                                        timeZone="GMT+5.30">
                                <p:ajax event="dateSelect" listener="#{nsRep.onNSFromDateSelect()}" update="ordNSTDate" />

                            </p:calendar>

                            <h:outputText value="To Date" /> 
                            <p:calendar id="ordNSTDate"
                                        value="#{nsRep.ordTDate}"
                                        pattern="yyyy/MM/dd"
                                        maxdate="calwidget.today()"
                                        timeZone="GMT+5.30">
                                <p:ajax event="dateSelect" listener="#{nsRep.onNSToDateSelect()}" update="ordNSFDate" />
                            </p:calendar>
                            <h:outputText value="Vendor" />

                            <p:selectOneMenu value="#{nsRep.vendorName}">
                                <f:selectItem itemLabel="Online" itemValue="Online" />
                                <f:selectItem itemLabel="AskApollo" itemValue="AskApollo" />
                                <f:selectItem itemLabel="Apollo247" itemValue="Apollo247" />
                                <f:selectItem itemLabel="MediAssist" itemValue="MediAssist" />
                                <f:selectItem itemLabel="PRACTO" itemValue="PRACTO" />
                                <f:selectItem itemLabel="ICICI" itemValue="ICICI" />
                                <f:selectItem itemLabel="FHPL" itemValue="FHPL" />
                                <f:selectItem itemLabel="MDINDIA" itemValue="MDINDIA" />
                            </p:selectOneMenu>

                            <p:commandButton action="#{nsRep.showNSReport}"
                                             value="Generate Report" update="nsreport" />
                        </h:panelGrid>
                        <h:panelGrid id="nsreport">

                            <p:dataTable value="#{nsRep.ns}" id="ns" var="ns" widgetVar="sum"
                                         filteredValue="#{nsRep.filterNS}" filterDelay="600"
                                         scrollable="true" scrollHeight="250" lazy="true" 
                                         tableStyle="width: auto; white-space: nowrap; font-size: smaller"
                                         scrollWidth="85%" scrollRows="20" >
                                <p:column headerText="ORDER NO" filterMatchMode="contains"
                                          filterBy="#{ns.ordno}">
                                    <h:outputText value="#{ns.ordno}" />                   
                                </p:column>
                                <p:column headerText="VENDOR ORDER NO" filterMatchMode="contains"
                                          filterBy="#{ns.tpordno}">
                                    <h:outputText value="#{ns.tpordno}" />                   
                                </p:column>
                                <p:column headerText="ORDER DATE">
                                    <h:outputText value="#{ns.orddate}" />
                                </p:column>
                                <p:column headerText="ORDER SOURCE">
                                    <h:outputText value="#{ns.ordersource}" />                   
                                </p:column>
                                <p:column headerText="SITEID"
                                          filterBy="#{ns.siteid}"
                                          filterMatchMode="contains">
                                    <h:outputText value="#{ns.siteid} - #{ns.branchname}" />                   
                                </p:column>
                                <p:column headerText="REGION NAME"
                                          filterBy="#{ns.regname}"
                                          filterMatchMode="contains">
                                    <h:outputText value="#{ns.regname}" />                   
                                </p:column>
                                <p:column headerText="ARTICLE CODE"
                                          filterBy="#{ns.artcode}"
                                          filterMatchMode="contains">
                                    <h:outputText value="#{ns.artcode}" />                   
                                </p:column>
                                <p:column headerText="ARTICLE NAME">
                                    <h:outputText value="#{ns.artname}" />                   
                                </p:column>
                                <p:column headerText="REQUESTED QTY">
                                    <h:outputText value="#{ns.reqqoh}" />                   
                                </p:column>
                                <p:column headerText="AVAILABLE QOH"
                                          filterBy="#{ns.onhand}"
                                          filterMatchMode="exact">
                                    <h:outputText value="#{ns.onhand}" />                   
                                </p:column>                                
                                <p:column headerText="STATUS"
                                          filterBy="#{ns.status}"
                                          filterMatchMode="contains">
                                    <h:outputText value="#{ns.status}" />                   
                                </p:column>
                                <p:column headerText="AVAILABILITY AS ON ">
                                    <h:outputText value="#{ns.onhandupdate}" />                   
                                </p:column>
                            </p:dataTable>                        
                            <h:commandLink id="NSexcel">
                                <h:outputText value="Export to CSV"/>
                                <p:dataExporter type="csv" target="ns" fileName="NS" />
                            </h:commandLink>
                        </h:panelGrid>
                    </p:panel>
                </h:form>
            </p:tab>

        </p:tabView>
        <h:form id="repForm">
            <p:ajaxStatus onstart="PF('statusDialog').show();" onsuccess="PF('statusDialog').hide();"/>
            <p:dialog modal="true" widgetVar="statusDialog" header="Status - Please wait while processing"
                      draggable="false" closable="false">
                <p:graphicImage value="/images/ajaxloadingbar.gif" />
            </p:dialog>
            <p:panel header="SOMS REPORT" toggleable="true">
                <h:panelGrid columns="7">
                    <h:outputText value="From Date"/> 
                    <p:calendar id="ordFDate" 
                                value="#{baseRep.ordFDate}"
                                pattern="yyyy/MM/dd"
                                maxdate="calwidget.today()"
                                timeZone="GMT+5.30">
                        <p:ajax event="dateSelect" listener="#{baseRep.onFromDateSelect()}" update="ordTDate" />
                    </p:calendar>

                    <h:outputText value="To Date" /> 
                    <p:calendar id="ordTDate"
                                value="#{baseRep.ordTDate}"
                                pattern="yyyy/MM/dd"
                                maxdate="calwidget.today()"
                                timeZone="GMT+5.30">
                        <p:ajax event="dateSelect" listener="#{baseRep.onToDateSelect()}" update="ordFDate" />
                    </p:calendar>

                    <h:outputText value="Vendor" />
                    <p:selectOneMenu value="#{baseRep.vendorName}">
                        <f:selectItem itemLabel="All" itemValue="All" />
                        <f:selectItem itemLabel="Online" itemValue="Online" />
                        <f:selectItem itemLabel="AskApollo" itemValue="AskApollo" />
                        <f:selectItem itemLabel="Apollo247" itemValue="Apollo247" />
                        <f:selectItem itemLabel="MediAssist" itemValue="MediAssist" />
                        <f:selectItem itemLabel="MDIndia" itemValue="MDIndia" />
                        <f:selectItem itemLabel="PRACTO" itemValue="PRACTO" />
                        <f:selectItem itemLabel="ICICI" itemValue="ICICI" />
                        <f:selectItem itemLabel="FHPL" itemValue="FHPL" />
                    </p:selectOneMenu>

                    <p:commandButton action="#{baseRep.showSummaryReport}"
                                     value="Generate Report" update="vendorOrderrSummary,mt" />
                </h:panelGrid>
                <h:panelGrid   id="vendorOrderrSummary"
                               columnClasses="alignTop,alignTop,alignTop" columns="3">
                    <p:panel header="REGIONWISE ORDER SUMMARY">
                        <p:dataTable value="#{baseRep.sumRepSitewise}" 
                                     scrollable="true" scrollHeight="150"
                                     var="vendor">
                            <p:column headerText="REGION">
                                <h:outputText value="#{vendor.ordersource}" />
                            </p:column>
                            <p:column headerText="NO OF ORDERS">
                                <h:outputText value="#{vendor.count}" />
                            </p:column>
                        </p:dataTable>
                    </p:panel>      
                    <p:panel header="ORDER STATUS SUMMARY">
                        <p:dataTable 
                            var="processingOrders"
                            value="#{baseRep.sumRepStatuswise}">
                            <p:column headerText="STATUS">
                                <h:outputText value="#{processingOrders.ordersource}" />
                            </p:column>
                            <p:column headerText="COUNT">
                                <h:outputText value="#{processingOrders.count}" />
                            </p:column>
                        </p:dataTable>
                    </p:panel>
                    <p:panel header="VENDORWISE ORDER SUMMARY">
                        <p:dataTable value="#{baseRep.sumRepVendorwise}" 
                                     var="vendor">
                            <p:column headerText="VENDOR">
                                <h:outputText value="#{vendor.ordersource}" />
                            </p:column>
                            <p:column headerText="NO OF ORDERS">
                                <h:outputText value="#{vendor.count}" />
                            </p:column>
                        </p:dataTable>
                    </p:panel>

                </h:panelGrid>
                <h:panelGrid id="mt">
                    <p:dataTable  value="#{baseRep.sumRep}" id="sumTable"
                                  var="rep" widgetVar="sum"
                                  style="width: 100%" styleClass="preformatted"
                                  filteredValue="#{baseRep.filteredSumReport}" filterDelay="600"
                                  rowStyleClass="#{rep.statusVal eq 'Processing' ? 'initiated' : rep.statusVal eq 'Billed' ? 'billed' : rep.statusVal eq 'Cancelled' ? 'cancelled' : rep.statusVal eq 'Delivered' ? 'delivered': rep.statusVal eq 'Full Returns' ? 'fullreturns' : rep.statusVal eq 'Partial Returns' ? 'partialreturns':'' }"
                                  paginator="true"  rows="50"
                                  draggableColumns="true" 
                                  resizableColumns="true" 
                                  scrollWidth="1275"
                                  currentPageReportTemplate="Showing {startRecord}-{endRecord} out of {totalRecords}"
                                  paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                  rowsPerPageTemplate="50,100,500,1000,5000"                                  
                                  scrollable="true" scrollHeight="375">
                        <f:facet name="header">
                            Toggle for More Columns
                            <p:commandButton id="toggler" type="button" value="Columns" style="float:right" icon="ui-icon-calculator" />
                            <p:columnToggler datasource="sumTable" trigger="toggler" />
                        </f:facet>
                        <p:column headerText="Status"  filterBy="#{rep.statusVal}" filterMatchMode="in">
                            <f:facet name="filter">
                                <p:selectCheckboxMenu onchange="PF('sum').filter()" label="ORDER STATUS">
                                    <f:selectItem itemLabel="Processing" itemValue="Processing"/>
                                    <f:selectItem itemLabel="Billed" itemValue="Billed"/>
                                    <f:selectItem itemLabel="Out for Delivery" itemValue="Out for Delivery"/>
                                    <f:selectItem itemLabel="Delivered" itemValue="Delivered"/>
                                    <f:selectItem itemLabel="Cancelled" itemValue="Cancelled"/>                                        
                                    <f:selectItem itemLabel="Full Returns" itemValue="Full Returns"/>                                        
                                    <f:selectItem itemLabel="Partial Returns" itemValue="Partial Returns"/>                                        
                                </p:selectCheckboxMenu>
                            </f:facet>
                            <h:outputText value="#{rep.statusVal}" />
                        </p:column>

                        <p:column headerText="Ord No" filterBy="#{rep.ordno}" filterMatchMode="contains" sortBy="#{rep.ordno}">
                            <h:outputText value="#{rep.ordno}"/>
                        </p:column>
                        <p:column headerText="Vendor Ord No" filterBy="#{rep.tpordid}" filterMatchMode="contains" sortBy="#{rep.tpordid}">
                            <h:outputText value="#{rep.tpordid}"/>
                        </p:column>
                        <p:column headerText="Order Date" sortBy="#{rep.orddate}">
                            <h:outputText value="#{rep.orddate}">
                                <f:convertDateTime pattern="MM-dd-yyyy" />
                            </h:outputText>
                        </p:column>
                        <p:column headerText="Verification Date" sortBy="#{rep.verdate}">
                            <h:outputText value="#{rep.verdate}">
                                <f:convertDateTime pattern="MM-dd-yyyy" />
                            </h:outputText>
                        </p:column>
                        <p:column headerText="Bill Date" sortBy="#{rep.initdate}">
                            <h:outputText value="#{rep.initdate}">
                                <f:convertDateTime pattern="MM-dd-yyyy" />
                            </h:outputText>
                        </p:column>
                        <p:column headerText="Delivery Date" sortBy="#{rep.deldate}">
                            <h:outputText value="#{rep.deldate}"> 
                                <f:convertDateTime pattern="MM-dd-yyyy" />
                            </h:outputText>
                        </p:column>
                        <p:column headerText="Cancel Date" sortBy="#{rep.canceldate}" >
                            <h:outputText value="#{rep.canceldate}" />
                        </p:column>
                        <p:column headerText="Return Date" sortBy="#{rep.returnDate}" >
                            <h:outputText value="#{rep.returnDate}" />
                        </p:column>
                        <p:column headerText="SiteID" filterBy="#{rep.siteid}" filterMatchMode="contains">
                            <h:outputText value="#{rep.siteid}" />
                        </p:column>
                        <p:column headerText="SiteName" filterBy="#{rep.sitename}" filterMatchMode="contains"
                                  visible="false" >
                            <h:outputText value="#{rep.sitename}"/>
                        </p:column>
                        <p:column headerText="Region" filterBy="#{rep.regname}" filterMatchMode="contains"
                                  visible="false" >
                            <h:outputText value="#{rep.regname}" />
                        </p:column>
                        <p:column headerText="Customer Selected City" filterBy="#{rep.cust_city}" filterMatchMode="contains"
                                  visible="false" >
                            <h:outputText value="#{rep.cust_city}" />
                        </p:column>
                        <p:column headerText="Customer Selected Postalcode" filterBy="#{rep.cust_postalcode}" filterMatchMode="contains"
                                  visible="false" >
                            <h:outputText value="#{rep.cust_postalcode}" />
                        </p:column>
                        <p:column headerText="Patient Name"
                                  visible="false" >
                            <h:outputText value="#{rep.patname}"/>
                        </p:column>
                        <p:column headerText="Mobile No" filterBy="#{rep.patmobileno}" filterMatchMode="contains"
                                  visible="false">
                            <h:outputText value="#{rep.patmobileno}"/>
                        </p:column>
                        <p:column headerText="Payment Mode" filterBy="#{rep.paymentmode}" filterMatchMode="contains"
                                  visible="false" >
                            <h:outputText value="#{rep.paymentmode}" />
                        </p:column>
                        <p:column headerText="Processed By" filterBy="#{rep.createdby}" filterMatchMode="contains" 
                                  visible="false" >
                            <h:outputText value="#{rep.createdby}"/>
                        </p:column>
                        <p:column headerText="Order Source" filterBy="#{rep.ordersource}" filterMatchMode="contains"
                                  visible="false" >
                            <h:outputText value="#{rep.ordersource}"/>
                        </p:column>                        
                        <p:column headerText="Inventory" filterBy="#{rep.availability}" filterMatchMode="contains"
                                  visible="false" >
                            <h:outputText value="#{rep.availability}"/>
                        </p:column>
                        <p:column headerText="BILL NO" filterBy="#{rep.invno}" filterMatchMode="contains"
                                  visible="false">
                            <h:outputText value="#{rep.invno}" />
                        </p:column>
                        <p:column headerText="QUOTED AMOUNT" filterBy="#{rep.ordamount}" filterMatchMode="contains"
                                  visible="false">
                            <h:outputText value="#{rep.ordamount}" />
                        </p:column>
                        <p:column headerText="BILL VALUE" filterMatchMode="contains"
                                  visible="false">
                            <h:outputText value="#{rep.invvalue}" />
                        </p:column>
                        <p:column headerText="RETURN VALUE" filterMatchMode="contains"
                                  visible="false">
                            <h:outputText value="#{rep.retamount}" />
                        </p:column>
                        <p:column headerText="CASH VALUE" filterMatchMode="contains"
                                  visible="false">
                            <h:outputText value="#{rep.cash}" />
                        </p:column>
                        <p:column headerText="CREDIT VALUE" filterMatchMode="contains"
                                  visible="false">
                            <h:outputText value="#{rep.credit}" />
                        </p:column>
                        <p:column headerText="Remarks"
                                  visible="false">
                            <h:outputText value="#{rep.cancelRemarks}" />
                        </p:column>
                        <p:column exportable="false" headerText="Order Detail">
                            <p:commandButton update=":repForm:ordDetail,:repForm:itemDetail,:repForm:custInfo,:repForm:billDetail,
                                             :repForm:custAddress"
                                             oncomplete="PF('myDialog').show()"
                                             icon="ui-icon-search"
                                             actionListener="#{baseRep.showDetails}">
                                <f:param name="status" value="#{rep.status}"/>   
                                <f:param name="ordNo" value="#{rep.ordno}"/>   
                                <f:param name="siteid" value="#{rep.siteid}"/>   
                                <f:param name="mobNo" value="#{rep.patmobileno}" />
                                <f:param name="ordsrc" value="#{rep.ordersource}" />
                                <f:setPropertyActionListener value="#{rep}" target="#{baseRep.selectedOrder}"/>
                            </p:commandButton>


                            <p:commandButton ajax="true" update=":repForm:agentcomment" id="comment"
                                             disabled="#{rep.commentBTN}"
                                             onclick="PF('agentcomment').show();"
                                             icon="ui-icon-comment" >        
                                <f:setPropertyActionListener value="#{rep}" target="#{baseRep.selectedOrder}"/>
                            </p:commandButton>

                            <p:tooltip  for="comment" value="Add comment to this Order" trackMouse="true" />

                            <p:commandButton id="delaySMS" disabled="#{rep.delaySMSBTN}" icon="ui-icon-clock" actionListener="#{baseRep.sendOnDelaySMS}" >
                                <f:param name="ordNo" value="#{rep.tpordid}"/>   
                                <f:param name="mobNo" value="#{rep.patmobileno}" />
                                <f:setPropertyActionListener value="#{rep}" target="#{baseRep.selectedOrder}"/>
                            </p:commandButton>
                            <p:tooltip  for="delaySMS" value="Trigger Delay SMS to this Order" trackMouse="true" />


                        </p:column>
                        <f:facet name="footer">
                            Toggle for More Columns
                        </f:facet>
                    </p:dataTable>
                    <p:dialog header="Comment" widgetVar="agentcomment" modal="true" height="400" width="750px" closeOnEscape="true" >
                        <h:panelGrid columns="1" id="agentcomment" cellpadding="5" cellspacing="5" >
                            <h:panelGrid columns="2" cellpadding="5" cellspacing="5">
                                <p:outputLabel value="OrderNo" />
                                <h:outputText value="#{baseRep.selectedOrder.ordno}" style="font-weight:bold; color: navy" />

                                <p:outputLabel value="Customer Name" />
                                <h:outputText value="#{baseRep.selectedOrder.patname}" style="font-weight:bold; color: navy" />

                                <p:outputLabel value="Customer Mobile Number" />
                                <h:outputText value="#{baseRep.selectedOrder.patmobileno}" style="font-weight:bold; color: navy" />

                                <p:outputLabel value="Comments" />
                                <p:inputTextarea value="#{oc.commentData}"/>

                                <p:commandButton value="Add Comment" actionListener="#{oc.Addcomment}"
                                                 ajax="true" onclick="PF('agentcomment').hide();">
                                    <f:param name="ordNo" value="#{baseRep.selectedOrder.tpordid}"/>
                                    <f:param name="vendorName" value="#{baseRep.selectedOrder.ordersource}"/>
                                </p:commandButton>
                            </h:panelGrid>
                            <h:panelGrid>
                                <p:panel header="Feeded Comments">
                                    <p:dataTable value="#{baseRep.agentComments}" var="comment">
                                        <p:column headerText="Comment By" >
                                            <h:outputText value="#{comment.commentBy}" />
                                        </p:column>
                                        <p:column headerText="Comments">
                                            <h:outputText value="#{comment.commentData}" />
                                        </p:column>
                                        <p:column headerText="Comment on">
                                            <h:outputText value="#{comment.commentOn}" />
                                        </p:column>
                                    </p:dataTable>
                                </p:panel>
                            </h:panelGrid>
                        </h:panelGrid>


                    </p:dialog> 
                </h:panelGrid>
                <p:dialog widgetVar="invLookupDialog" id="invLookup" modal="true" closeOnEscape="true"
                          showEffect="clip" hideEffect="clip"
                          width="900px"
                          fitViewport="true" header="Inventory Availability">

                </p:dialog>
                <p:dialog widgetVar="myDialog" id="ordDetail" modal="true"  maximizable="true" closeOnEscape="true"
                          footer="Press Esc to Close the pop-upwindow" showEffect="clip" hideEffect="clip"
                          width="900px"
                          fitViewport="true" header="Item Details of Apollo OrderID : #{baseRep.selectedOrder.ordno} | Vendor OrderID : #{baseRep.selectedOrder.tpordid}">
                    <p:panel header="Patient Details" >
                        <h:panelGrid columns="1" id="custInfo" style="width: 100%;">                                             
                            <p:column>
                                <h:outputText value="Customer Name : " style="font-variant: small-caps"/><h:outputText value="#{baseRep.selectedOrder.patname}" style="font-weight: bold; font-variant: small-caps" />
                            </p:column>
                            <p:column>
                                <h:outputText value="Customer Contact : " style="font-variant: small-caps"/><h:outputText value="#{baseRep.selectedOrder.patmobileno}" style="font-weight: bold;" />

                            </p:column> 

                        </h:panelGrid>
                    </p:panel> 
                    <p:panel id="custAddress">
                        <h:outputLabel value="Customer Address : "/>
                        <h:outputText value="#{baseRep.custAddr}" style="font-weight: bold;"/>
                    </p:panel>

                    <h:panelGrid columns="2" columnClasses="alignTop,alignTop" >
                        <p:tabView id="itemDetail">
                            <p:tab title="Requested Item Details">
                                <p:panel header="Order Item Details" style="border: 0;border-width: 0">
                                    <p:dataTable value="#{baseRep.itemDet}" var="itd" scrollable="true" 
                                                 scrollHeight="100"
                                                 id="reqitemDetail" style="width: 100%; ">
                                        <p:column headerText="ARTCODE">
                                            <h:outputText value="#{itd.artcode}" />
                                        </p:column>
                                        <p:column headerText="ARTNAME">
                                            <h:outputText value="#{itd.artname}" />
                                        </p:column>
                                        <p:column headerText="ORDERED QTY">
                                            <h:outputText value="#{itd.qoh}" />
                                        </p:column>
                                    </p:dataTable>
                                </p:panel>
                            </p:tab>
                            <p:tab  title="Availability">
                                <p:panel header="POS Inventory Availability" style="border: 0;border-width: 0">
                                    <p:dataTable value="#{baseRep.invAvail}" var="inv" scrollable="true" 
                                                 emptyMessage="Order Already Billed/Delivered/Cancelled"
                                                 scrollHeight="100"
                                                 id="invAvailability" style="width: 100%; ">
                                        <p:column headerText="ARTCODE">
                                            <h:outputText value="#{inv.artCode}"/>
                                        </p:column>
                                        <p:column headerText="AVAILABLE QYT">
                                            <h:outputText value="#{inv.qty}"/>
                                        </p:column>
                                    </p:dataTable>
                                </p:panel>
                            </p:tab>
                            <p:tab title="Billed Item Details">
                                <p:panel header="Billed Item Details" style="border: 0;border-width: 0">
                                    <p:dataTable value="#{baseRep.billeditemDet}" var="billItemDet"
                                                 scrollable="true" scrollHeight="100"
                                                 id="billItemDet" style="width: 100%; ">
                                        <p:column headerText="ARTCODE">
                                            <h:outputText value="#{billItemDet.artcode}" />
                                        </p:column>
                                        <p:column headerText="ART NAME">
                                            <h:outputText value="#{billItemDet.artname}" />
                                        </p:column>
                                        <p:column headerText="BILLED QTY">
                                            <h:outputText value="#{billItemDet.qoh}" />
                                        </p:column>
                                        <p:column headerText="MRP">
                                            <h:outputText value="#{billItemDet.mrp}" />
                                        </p:column>
                                    </p:dataTable>
                                </p:panel>
                            </p:tab>
                            <p:tab title="Return Item Details">
                                <p:panel header="Return Item Details" style="border: 0;border-width: 0">
                                    <p:dataTable value="#{baseRep.retitemDet}" var="retItemDet"
                                                 scrollable="true" scrollHeight="100"
                                                 id="retItemDet" style="width: 100%; ">
                                        <p:column headerText="RETURN REFERENCE NUMBER">
                                            <h:outputText value="#{retItemDet.retRefno}" />
                                        </p:column>
                                        <p:column headerText="ARTCODE">
                                            <h:outputText value="#{retItemDet.artCode}" />
                                        </p:column>
                                        <p:column headerText="ARTCODE">
                                            <h:outputText value="#{retItemDet.artName}" />
                                        </p:column>
                                        <p:column headerText="RETURN QTY">
                                            <h:outputText value="#{retItemDet.retQTY}" />
                                        </p:column>
                                        <p:column headerText="RETURN DATE">
                                            <h:outputText value="#{retItemDet.returnDate}" />
                                        </p:column>
                                    </p:dataTable>
                                </p:panel>
                            </p:tab>
                            <p:tab title="Prescriptions">
                                <p:panel header="Prescription Details">
                                    <p:dataTable value="#{baseRep.upldprescimg}" id="prescrip" var="img">
                                        <p:column headerText="Prescription">
                                            <a href="#{img.prescURL}" target="_blank">#{img.displayURL}</a>                                    
                                        </p:column>
                                    </p:dataTable>
                                </p:panel>
                            </p:tab>
                        </p:tabView>
                    </h:panelGrid>
                    <p:panel header="Billing Details"  style="border: 0;border-width: 0">
                        <p:dataTable value="#{baseRep.billInfo}" var="billInfo"
                                     emptyMessage="Not Billed"
                                     id="billDetail" style="width: 100%; ">
                            <p:column headerText="BILLED AT">
                                <h:outputText value="#{billInfo.siteId}" />
                            </p:column>
                            <p:column headerText="INVOICE NUMBER">
                                <h:outputText value="#{billInfo.invNum}" />
                            </p:column>
                            <p:column headerText="INVOICE AMOUNT">
                                <h:outputText value="#{billInfo.invAmt}" />
                            </p:column>
                            <p:column headerText="COD">
                                <h:outputText value="#{billInfo.cash}" />
                            </p:column>
                            <p:column headerText="PREPAID">
                                <h:outputText value="#{billInfo.credit}" />
                            </p:column>
                        </p:dataTable>
                    </p:panel>
                </p:dialog>                                       
            </p:panel>
            <p:panel id="dataExport">
                <h:commandLink id="csv">
                    <h:outputText value="Export to CSV"/>
                    <p:dataExporter type="csv" target="sumTable" fileName="orders" />
                </h:commandLink>              
            </p:panel>
        </h:form>
    </h:body>
</html>