<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">

    <body>

        <ui:composition template="./master.xhtml">

            <ui:define name="content">
                <h:form id="Report">
                    <p:ajaxStatus onstart="PF('statusDialog').show();" onsuccess="PF('statusDialog').hide();"/>
                    <p:dialog modal="true" widgetVar="statusDialog" header="Status - Please wait while processing"
                              draggable="false" closable="false">
                        <p:graphicImage value="/images/ajaxloadingbar.gif" />
                    </p:dialog>
                    <p:panel>
                        <p:tabView id="Reports">
                            <p:messages autoUpdate="true" closable="true" showSummary="true"/>
                            <p:tab id="telRep" title="PHONE NUMBER SEARCH">

                                <h:panelGrid columns="3">
                                    <h:outputText value="Telephone No* :"/>
                                    <p:inputText value="#{goldRep.telNo}" />

                                    <p:commandButton value="Generate Report"
                                                     action="#{goldRep.goldTBSum}" update="telSumTAB"/>
                                </h:panelGrid>
                                <br /><br /><br />

                                <p:dataTable value="#{goldRep.billsum}" id="telSumTAB" scrollable="true"
                                             scrollHeight="400"
                                             var="telBilSum">
                                    <p:column>
                                        <p:commandButton value="Details" update=":Report:sumGrid" actionListener="#{goldReport.trxDetail}"
                                                         oncomplete="PF('billSum').show()">
                                            <f:param name="trxid" value="#{telBilSum.trxid}"/>
                                            <f:setPropertyActionListener value="#{telBilSum}" target="#{goldRep.selectedTrx}"/>
                                        </p:commandButton>
                                    </p:column>

                                    <p:column headerText="BILL DATE" >
                                        <h:outputText value="#{telBilSum.billdate}"/>
                                    </p:column>
                                    <p:column headerText="SITE ID">
                                        <h:outputText value="#{telBilSum.site}"/>
                                    </p:column>
                                    <p:column headerText="SITE NAME">
                                        <h:outputText value="#{telBilSum.sitename}"/>
                                    </p:column>
                                    <p:column headerText="PHONE">
                                        <h:outputText value="#{telBilSum.phone}"/>
                                    </p:column>
                                    <p:column headerText="NAME">
                                        <h:outputText value="#{telBilSum.name}"/>
                                    </p:column>
                                    <p:column headerText="AGE">
                                        <h:outputText value="#{telBilSum.age}"/>
                                    </p:column>
                                    <p:column headerText="SEX">
                                        <h:outputText value="#{telBilSum.sex}"/>
                                    </p:column>
                                    <p:column headerText="TOTAL">
                                        <h:outputText value="#{telBilSum.total}"/>
                                    </p:column>
                                    <p:column headerText="CUST. ID">
                                        <h:outputText value="#{telBilSum.empid}"/>
                                    </p:column>
                                    <p:column headerText="BILL NO">
                                        <h:outputText value="#{telBilSum.billno}"/>
                                    </p:column>
                                </p:dataTable>
                            </p:tab>
                            <p:tab id="ccRep" title="CC CARD SEARCH">
                                <h:panelGrid columns="3">
                                    <h:outputText value="CCCard No* :"/>
                                    <p:inputText value="#{goldRep.cccNo}" />

                                    <p:commandButton value="Generate Report"
                                                     action="#{goldRep.goldCCSum}" update="ccSum"/>
                                </h:panelGrid>
                                <br /><br /><br />

                                <p:dataTable value="#{goldRep.ccBillsum}" id="ccSum" scrollable="true"
                                             scrollHeight="400"
                                             var="ccSumTAB">
                                    <p:column>
                                        <p:commandButton value="Details" update=":Report:sumGrid" actionListener="#{goldReport.trxDetail}"
                                                         oncomplete="PF('billSum').show()">
                                            <f:param name="trxid" value="#{ccSumTAB.trxid}"/>
                                            <f:setPropertyActionListener value="#{ccSumTAB}" target="#{goldRep.selectedTrx}"/>
                                        </p:commandButton>
                                    </p:column>
                                    <p:column headerText="BILL DATE" >
                                        <h:outputText value="#{ccSumTAB.billdate}"/>
                                    </p:column>
                                    <p:column headerText="SITE ID">
                                        <h:outputText value="#{ccSumTAB.site}"/>
                                    </p:column>
                                    <p:column headerText="SITE NAME">
                                        <h:outputText value="#{ccSumTAB.sitename}"/>
                                    </p:column>
                                    <p:column headerText="PHONE">
                                        <h:outputText value="#{ccSumTAB.phone}"/>
                                    </p:column>
                                    <p:column headerText="NAME">
                                        <h:outputText value="#{ccSumTAB.name}"/>
                                    </p:column>
                                    <p:column headerText="AGE">
                                        <h:outputText value="#{ccSumTAB.age}"/>
                                    </p:column>
                                    <p:column headerText="SEX">
                                        <h:outputText value="#{ccSumTAB.sex}"/>
                                    </p:column>
                                    <p:column headerText="TOTAL">
                                        <h:outputText value="#{ccSumTAB.total}"/>
                                    </p:column>
                                    <p:column headerText="CARD NO">
                                        <h:outputText value="#{ccSumTAB.empid}"/>
                                    </p:column>
                                    <p:column headerText="BILL NO">
                                        <h:outputText value="#{ccSumTAB.billno}"/>
                                    </p:column>
                                </p:dataTable>
                            </p:tab>
                            <p:tab id="empNo" title="EMPLOYEE DS SEARCH">
                                <h:panelGrid columns="3">
                                    <h:outputText value="EMPLOYEE ID* :"/>
                                    <p:inputText value="#{goldRep.empno}" />

                                    <p:commandButton value="Generate Report"
                                                     action="#{goldRep.goldAPSum}" update="apSum"/>
                                </h:panelGrid>
                                <br /><br /><br />

                                <p:dataTable value="#{goldRep.apBillsum}" id="apSum" scrollable="true"
                                             scrollHeight="400"
                                             var="apSumTAB">
                                    <p:column headerText="">
                                        <p:commandButton value="Details" update=":Report:sumGrid" actionListener="#{goldReport.trxDetail}"
                                                         oncomplete="PF('billSum').show()">
                                            <f:param name="trxid" value="#{apSumTAB.trxid}"/>
                                            <f:setPropertyActionListener value="#{apSumTAB}" target="#{goldRep.selectedTrx}"/>
                                        </p:commandButton>
                                    </p:column>
                                    <p:column headerText="BILL DATE" >
                                        <h:outputText value="#{apSumTAB.billdate}"/>
                                    </p:column>
                                    <p:column headerText="SITE ID">
                                        <h:outputText value="#{apSumTAB.site}"/>
                                    </p:column>
                                    <p:column headerText="SITE NAME">
                                        <h:outputText value="#{apSumTAB.sitename}"/>
                                    </p:column>
                                    <p:column headerText="PHONE">
                                        <h:outputText value="#{apSumTAB.phone}"/>
                                    </p:column>
                                    <p:column headerText="NAME">
                                        <h:outputText value="#{apSumTAB.name}"/>
                                    </p:column>
                                    <p:column headerText="AGE">
                                        <h:outputText value="#{apSumTAB.age}"/>
                                    </p:column>
                                    <p:column headerText="SEX">
                                        <h:outputText value="#{apSumTAB.sex}"/>
                                    </p:column>
                                    <p:column headerText="TOTAL">
                                        <h:outputText value="#{apSumTAB.total}"/>
                                    </p:column>
                                    <p:column headerText="EMP ID">
                                        <h:outputText value="#{apSumTAB.empid}"/>
                                    </p:column>
                                    <p:column headerText="BILL NO">
                                        <h:outputText value="#{apSumTAB.billno}"/>
                                    </p:column>
                                </p:dataTable>
                            </p:tab>

                        </p:tabView>
                        <p:dialog modal="true"
                                  header="Transaction Detail" widgetVar="billSum"
                                  resizable="false"
                                  showEffect="explode" hideEffect="explode" width="750px">
                            <h:panelGrid columns="1" id="sumGrid">
                                <h:outputText value="#{goldRep.selectedTrx.name}"/>
                                <p:dataTable value="#{goldReport.billDet}" var="detail">
                                    <p:column headerText="Bill Date">
                                        <h:outputText value="#{detail.bDate}"/>
                                    </p:column>
                                    <p:column headerText="SITE ID">
                                        <h:outputText value="#{detail.siteid}"/>
                                    </p:column>
                                    <p:column headerText="ART CODE">
                                        <h:outputText value="#{detail.artcode}"/>
                                    </p:column>
                                    <p:column headerText="ART NAME">
                                        <h:outputText value="#{detail.artname}"/>
                                    </p:column>
                                    <p:column headerText="CATEGORY">
                                        <h:outputText value="#{detail.cat}"/>
                                    </p:column>
                                    <p:column headerText="QTY">
                                        <h:outputText value="#{detail.qty}"/>
                                    </p:column>
                                    <p:column headerText="PRICE">
                                        <h:outputText value="#{detail.price}"/>
                                    </p:column>
                                    <p:column headerText="DISCOUNT AMT">
                                        <h:outputText value="#{detail.discamt}"/>
                                    </p:column>

                                </p:dataTable>
                            </h:panelGrid>
                        </p:dialog>
                    </p:panel>
                </h:form>
            </ui:define>
        </ui:composition>
    </body>
</html>
