<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Apollo Pharmacy :: Call Centre</title>
        <script type="text/javascript">
            function noBack() {
                window.history.forward();
            }
        </script>
        <style type="text/css">
            .ui-widget,
            .ui-widget .ui-widget {
                font-size: 10px !important;
            }
            .alignBottom {
                vertical-align: baseline;
                border: 0;
            }
        </style>
    </h:head>
    <h:body>
        <h:form>
            <center>

                <p:panel header="Login" footer="Apollo Pharmacy Copyrights@ 2014" style="width: 25%; text-align: center">
                    <p:messages autoUpdate="true" closable="true" />
                    <h:panelGrid columns="2" cellpadding="4" cellspacing="4">
                        <h:outputText value="Username* : "  />
                        <p:inputText value="#{al.un}" required="true" requiredMessage="Username should not be empty"/>

                        <h:outputText value="Password* : "  />
                        <p:password value="#{al.pw}" required="true" requiredMessage="Password should not be empty"/>
                        <p:commandButton value="Login" action="#{al.loginApp}"/>
                    </h:panelGrid>
                </p:panel>
            </center>
        </h:form>
    </h:body>
</html>