<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Facelet Title</title>
        <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places"></script>
        <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.1.min.js"></script>
        <script type="text/javascript">
$(document).ready(function(){
var location = document.getElementById('textgoogle');
var autocomplete = new google.maps.places.Autocomplete(location);
google.maps.event.addListener(autocomplete , 'place_changed', function () {
   var place = autocomplete.getPlace();
   document.getElementById('cityLat').value = place.geometry.location.lat();
   document.getElementById('cityLng').value = place.geometry.location.lng();
   document.getElementById('city').value =document.getElementById('textgoogle').value;
  });
});
        </script>
    </h:head>
    <h:body>

        <f:view>
            <h:form prependId="false">
                <f:verbatim>
                    <table border="0" cellpadding="4" cellspacing="4">
                        <tr>
                            <td>Address</td>
                            <td><input type="text" id="textgoogle" size="50" /></td>
                        </tr>
                    </table>
                </f:verbatim>
                <h:panelGrid columns="2">
                    <h:outputText value="Street*" />
                    <p:inputText value="#{pa.addr1}" required="true" requiredMessage="Street Address is mandatory"/>

                    <h:outputText value="City and State*" />
                    <p:inputText id="city" value="#{pa.addr2}"
                                 required="true"
                                 size="50"
                                 requiredMessage="Address is mandatory"/>
                    <h:inputHidden id="cityLat" value="#{pa.lat}" />
                    <h:inputHidden id="cityLng" value="#{pa.lon}" />

                    <h:outputText value="ZIP* " />
                    <p:inputMask mask="999999"  value="#{pa.zip}"
                                 required="true" size="10" 
                                 requiredMessage="ZIP no required"  />
                </h:panelGrid>
            </h:form>
        </f:view>
    </h:body>
</html>


