<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link href="./resources/css/default.css" rel="stylesheet" type="text/css" />
        <link href="./resources/css/cssLayout.css" rel="stylesheet" type="text/css" />
        <title>Apollo Pharmacy :: HAPP</title>
        <style type="text/css">
            .ui-widget,
            .ui-widget .ui-widget {
                font-size: 15px !important;
                color: white;
                font-weight: bold;
            }
        </style>
    </h:head>

    <h:body>

        <div id="top" style="height: 10%">
            <ui:include src="./loginTemplates/header.xhtml" />
        </div>

        <div id="content" class="center_content">
            <ui:insert name="content">Content</ui:insert>
        </div>

        <div id="bottom" style="height: 10%">
            <ui:include src="./loginTemplates/footer.xhtml" />
        </div>

    </h:body>

</html>
