<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Apollo Pharmacy :: SOM</title>
        <style type="text/css">
            .ui-widget,
            .ui-widget .ui-widget {
                font-size: 10px !important;
            }
            .alignTop {
                vertical-align: top;
                border: 0;
            }
            .ui-datatable.ui-widget {
                width: 100% !Important;
            }
        </style>
    </h:head>
    <h:body>
        <h:form>
            <p:ajaxStatus onstart="PF('statusDialog').show();" onsuccess="PF('statusDialog').hide();"/>
            <p:dialog modal="true" widgetVar="statusDialog" header="Status - Please wait while processing"
                      draggable="false" closable="false">
                <p:graphicImage value="/images/ajaxloadingbar.gif" />
            </p:dialog>
            <p:layout fullPage="true" style="border-width: 5" >
                <p:layoutUnit position="center" style="border-width: 0">
                    <p:layout style="border-bottom-width: 0">

                        <p:layoutUnit position="south" size="50" header="Copyright &copy; 2018 Apollo Pharmacy" style="text-align: center" />                   

                        <p:layoutUnit position="east" size="380" style="border-width: 0">
                            <h:panelGrid columns="1" width="98%">
                                <p:graphicImage url="/images/CRM/TopRight.png" style="height: auto" width="98%" />
                                    <p:messages for="status" id="LoginWindow" closable="true" >
                                            <p:autoUpdate />
                                        </p:messages>
                                <p:panel header="Login" style="border: 0">
                                    <h:panelGrid columns="2" cellpadding="8" cellspacing="8">                    
                                        
                                        <h:outputText value="Username* : "  />
                                        <p:inputText value="#{al.un}" required="true" requiredMessage="Username should not be empty"/>
                                        <h:outputText value="Password* : "  />
                                        <p:password value="#{al.pw}" required="true" requiredMessage="Password should not be empty"/>
                                        <p:commandButton value="Login" action="#{al.loginApp}"/>
                                    </h:panelGrid>
                                </p:panel>                                
                            </h:panelGrid>
                        </p:layoutUnit>

                        <p:layoutUnit position="center" style="border-width: 0; background-size: 100%">

                        </p:layoutUnit>
                    </p:layout>
                </p:layoutUnit>
            </p:layout>
        </h:form>
    </h:body>
</html>

