<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">

    <body>

        <ui:composition template="./master.xhtml">

            <ui:define name="content">
                <h:form id="myCustData">
                    <p:ajaxStatus onstart="PF('statusDialog').show();" onsuccess="PF('statusDialog').hide();"/>
                    <p:dialog modal="true" widgetVar="statusDialog" header="Status - Please wait while processing"
                              draggable="false" closable="false">
                        <p:graphicImage value="/images/ajaxloadingbar.gif" />
                    </p:dialog>

                    <p:panel header="Shop Selection">
                        <p:messages autoUpdate="true" closable="true" showSummary="true"/>
                        <h:panelGrid columns="3" cellpadding="5" cellspacing="4">

                            <h:outputText value="Shop"/>
                            <p:autoComplete required="true" dropdown="true" requiredMessage="Site Name/No is required"
                                            emptyMessage="No shop found like this"
                                            queryDelay="600"
                                            forceSelection="true" id="sd" maxResults="10"
                                            value="#{oc.shopid}"
                                            completeMethod="#{oc.complete}" minQueryLength="3" size="50">
                            </p:autoComplete>
                            <p:commandButton actionListener="#{goldRep.lsrSum}" update="sumt" ajax="true" value="Generate"/>
                        </h:panelGrid>

                        <p:dataTable value="#{goldRep.lss}" var="lsms" id="sumt"
                                     scrollable="true"
                                     scrollHeight="400">
                            <p:column headerText="CUST ID" style="width: 5%">
                                <h:outputText value="#{lsms.custID}"/>
                            </p:column>
                            <p:column headerText="NAME" style="width: 8%">
                                <h:outputText value="#{lsms.name}"/>
                            </p:column>
                            <p:column headerText="PHNO"  style="width: 5%">
                                <h:outputText value="#{lsms.ph}"/>
                            </p:column>
                            <p:column headerText="MON1" style="width: 5%">
                                <h:outputText value="#{lsms.m1}"/>
                            </p:column>
                            <p:column headerText="MON2" style="width: 5%">
                                <h:outputText value="#{lsms.m2}"/>
                            </p:column>
                            <p:column headerText="MON3" style="width: 5%">
                                <h:outputText value="#{lsms.m3}"/>
                            </p:column>
                            <p:column headerText="MON4" style="width: 5%">
                                <h:outputText value="#{lsms.m4}"/>
                            </p:column>
                            <p:column headerText="MON5" style="width: 5%">
                                <h:outputText value="#{lsms.m5}"/>
                            </p:column>
                            <p:column headerText="MON6" style="width: 5%">
                                <h:outputText value="#{lsms.m6}"/>
                            </p:column>
                            <p:column headerText="MON7" style="width: 5%">
                                <h:outputText value="#{lsms.m7}"/>
                            </p:column>
                            <p:column headerText="MON8" style="width: 5%">
                                <h:outputText value="#{lsms.m8}"/>
                            </p:column>
                            <p:column headerText="MON9" style="width: 5%">
                                <h:outputText value="#{lsms.m9}"/>
                            </p:column>
                            <p:column headerText="MON10" style="width: 5%">
                                <h:outputText value="#{lsms.m10}"/>
                            </p:column>
                            <p:column headerText="MON11" style="width: 5%">
                                <h:outputText value="#{lsms.m11}"/>
                            </p:column>
                            <p:column headerText="MON12" style="width: 5%">
                                <h:outputText value="#{lsms.m12}"/>
                            </p:column>
                        </p:dataTable>
                    </p:panel>
                    <h:panelGrid columns="2">
                        <p:panel id="TRXSum">
                            <p:dataTable scrollable="true" scrollHeight="300">
                                <p:column headerText="SITE ID"></p:column>
                                <p:column headerText="BILL DATE"></p:column>
                                <p:column headerText="BILL NO"></p:column>
                                <p:column headerText="AMOUNT"></p:column>
                            </p:dataTable>
                        </p:panel>
                        <p:panel id="TRXDtl">
                            <p:dataTable scrollable="true" scrollHeight="300">
                                <p:column headerText="BILL NO"></p:column>
                                <p:column headerText="ITEM NAME"></p:column>
                                <p:column headerText="BILL DATE"></p:column>
                                <p:column headerText="ISS QTY"></p:column>
                            </p:dataTable>
                        </p:panel>
                    </h:panelGrid>
                </h:form>
            </ui:define>
        </ui:composition>

    </body>
</html>
