<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title >
        <style type="text/css">
            .ui-widget,
            .ui-widget .ui-widget {
                font-size: 9px !important;
                align-content: center;
            }
            .alignTop {
                vertical-align: top;
                border: 0;
            }
            .alignBottom {
                vertical-align: baseline;
                border: 0;
            }
            .colored{
                background-color:red;
                background-image:none;
            }
            .normal{
                background-color:blue;
                background-image:none;
            }
            .d {
                background: purple  !important ;
                color: white;
            }
            .nd {
                background: white  !important ;
                color: black;
            }

        </style>
    </h:head>
    <h:body>
        <ui:composition template="./master.xhtml">

            <ui:define name="content">
                <h:form>
                    <h:panelGrid>
                        <p:panel>

                            <p:dataTable value="#{nsRep.nostkrep}" var="nss">
                                <p:column headerText="STATUS">
                                    <h:outputText value="#{nss.ordersource}" />
                                </p:column>
                                <p:column headerText="COUNT">
                                    <h:outputText value="#{nss.count}" />
                                </p:column>
                            </p:dataTable>


                        </p:panel>
                        <p:panel header="NO STOCK REPORT">
                            <p:dataTable value="#{nsRep.ns}" id="ns"  var="ns" widgetVar="sum"
                                         filteredValue="#{nsRep.filterNS}" filterDelay="600"
                                         scrollable="true" scrollHeight="500"  virtualScroll="true" 
                                         scrollWidth="95%" scrollRows="20"
                                         paginator="true" rows="500"
                                         currentPageReportTemplate="Showing {startRecord}-{endRecord} out of {totalRecords}"
                                         paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                         >
                                <p:column headerText="ORDER NO" filterMatchMode="contains"
                                          filterBy="#{ns.ordno}">
                                    <h:outputText value="#{ns.ordno}" />                   
                                </p:column>
                                <p:column headerText="VENDOR ORDER NO" filterMatchMode="contains"
                                          filterBy="#{ns.tpordno}">
                                    <h:outputText value="#{ns.tpordno}" />                   
                                </p:column>
                                <p:column headerText="ORDER DATE">
                                    <h:outputText value="#{ns.orddate}" />
                                </p:column>
                                <p:column headerText="ORDER SOURCE">
                                    <h:outputText value="#{ns.ordersource}" />                   
                                </p:column>
                                <p:column headerText="SITEID"
                                          filterBy="#{ns.siteid}"
                                          filterMatchMode="contains">
                                    <h:outputText value="#{ns.siteid} - #{ns.branchname}" />                   
                                </p:column>
                                <p:column headerText="REGION NAME"
                                          filterBy="#{ns.regname}"
                                          filterMatchMode="contains">
                                    <h:outputText value="#{ns.regname}" />                   
                                </p:column>
                                <p:column headerText="ARTICLE CODE"
                                          filterBy="#{ns.artcode}"
                                          filterMatchMode="contains">
                                    <h:outputText value="#{ns.artcode}" />                   
                                </p:column>
                                <p:column headerText="ARTICLE NAME">
                                    <h:outputText value="#{ns.artname}" />                   
                                </p:column>
                                <p:column headerText="REQUESTED QTY">
                                    <h:outputText value="#{ns.reqqoh}" />                   
                                </p:column>
                                <p:column headerText="AVAILABLE QOH"
                                          filterBy="#{ns.onhand}"
                                          filterMatchMode="exact">
                                    <h:outputText value="#{ns.onhand}" />                   
                                </p:column>                                
                                <p:column headerText="STATUS"
                                          filterBy="#{ns.status}"
                                          filterMatchMode="contains">
                                    <h:outputText value="#{ns.status}" />                   
                                </p:column>
                                <p:column headerText="AVAILABILITY AS ON ">
                                    <h:outputText value="#{ns.onhandupdate}" />                   
                                </p:column>
                            </p:dataTable>                        
                        </p:panel>
                    </h:panelGrid>
                    <h:commandLink id="excel">
                        <h:outputText value="Export to CSV"/>
                        <p:dataExporter type="csv" target="ns" fileName="NS" />
                    </h:commandLink>
                </h:form>
            </ui:define>
        </ui:composition>

    </h:body>
</html>

