<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="./resources/css/default.css" rel="stylesheet" type="text/css" />
    <link href="./resources/css/cssLayout.css" rel="stylesheet" type="text/css" />

    <body>
        <ui:composition template="./master.xhtml">
            <ui:define name="content">
                <h:form id="orderCreation" enctype="multipart/form-data">
                    <p:messages autoUpdate="true" closable="true" />
                    <p:ajaxStatus onstart="PF('statusDialog').show();" onsuccess="PF('statusDialog').hide();"/>
                    <p:dialog modal="true" widgetVar="statusDialog" header="Status - Please wait while processing"
                              draggable="false" closable="false">
                        <p:graphicImage value="/images/ajaxloadingbar.gif" />
                    </p:dialog>
                    <p:growl id="msgs" showSummary="true"/>
                    <p:panel header="Order Creation" >

                        <p:tab id="personal" title="Customer Information" titleStyle="font-size : 12px">
                            <p:panel header="Patient Details" style="border: 0; border-width: 0;" >
                                <p:dataTable value="#{pa.custInfo}" var="ci"
                                             editable="true" id="custInfo"
                                             style="width: 100%; ">
                                    <p:column headerText="Customer Name" style="width: 10%; text-align: center; font-variant: small-caps">
                                        <h:outputText value="#{ci.firstName}"/>
                                    </p:column>
                                    <p:column headerText="Mobile No" style="width: 10%; text-align: center; font-variant: small-caps">
                                        <h:outputText value="#{pa.mobNo}"/>
                                    </p:column>
                                    <p:column headerText="Gender" style="width: 5%; text-align: center; font-variant: small-caps">
                                        <h:outputText value="#{ci.gender}"/>
                                    </p:column>
                                    <p:column headerText="Age" style="width: 4%; text-align: center; font-variant: small-caps">
                                        <h:outputText value="#{ci.age}"/>
                                    </p:column>

                                    <p:column headerText="Registered Address" style="width: 25%; font-variant: small-caps">
                                        <h:outputText value="#{ci.addr1}"/>
                                    </p:column>

                                    <p:column headerText="DeliveryAddress" style="width: 25%; font-variant: small-caps">
                                        <h:outputText value="#{ci.commAddr}"/>
                                    </p:column>
                                    <p:column headerText="E-mail ID" style="width: 15%; font-variant: small-caps">
                                        <h:outputText value="#{ci.mailID}"/>
                                    </p:column>

                                    <p:column headerText="Action">
                                        <p:commandButton value="Edit" update=":orderCreation:custInfo,:orderCreation:editinfo"
                                                         oncomplete="PF('AMedit').show()"
                                                         actionListener="#{pa.updateAM}">
                                            <f:param name="patID" value="#{ci.pid}"/>
                                            <f:param name="mailID" value="#{ci.mailID}"/>
                                        </p:commandButton>
                                    </p:column>
                                </p:dataTable>
                                <p:dataTable value="#{pa.custInfo}" var="cu" style="width: 35%">
                                    <p:column headerText="CC Card">
                                        <h:outputText value="#{cu.cccardno}" style="text-align: center"/>
                                    </p:column>
                                    <p:column headerText="UHID" >
                                        <h:outputText value="#{cu.uhid}" style="text-align: center"/>
                                    </p:column>
                                </p:dataTable>
                                <p:dialog modal="true" closable="false"
                                          header="Communication Detail Edit" widgetVar="AMedit"
                                          resizable="false" id="editinfo"  appendTo="orderCreation"
                                          showEffect="explode" hideEffect="explode" width="750px">
                                    <iframe src="commEdit.jsf" frameborder="0" marginheight="0"
                                            marginwidth="5" scrolling="no" width="100%" height="250px" />
                                </p:dialog>
                            </p:panel>

                            <p:panel header="Shop Selection">
                                <h:panelGrid columns="2" cellpadding="5" cellspacing="4">

                                    <h:outputText value="Shop"/>
                                    <p:autoComplete required="true" dropdown="true" requiredMessage="Site Name/No is required"
                                                    emptyMessage="No shop found like this"
                                                    queryDelay="600"
                                                    forceSelection="true" id="sd" maxResults="10"
                                                    value="#{oc.shopid}"
                                                    completeMethod="#{oc.complete}" minQueryLength="3" size="50">
                                    </p:autoComplete>

                                </h:panelGrid>

                            </p:panel>
                            <p:growl id="msg" showDetail="true" life="3000" />
                            <p:panel header="Medicine Details" id="carting" visible="true">
                                <h:panelGrid columns="2" cellpadding="4" cellspacing="4">
                                    <h:outputText value="Item Name*  "/>
                                    <p:autoComplete dropdown="true" 
                                                    emptyMessage="No ARTCODE found like this"
                                                    queryDelay="600"
                                                    forceSelection="true" id="artc" maxResults="10"
                                                    itemLabel="#{oc.artname}" itemValue="#{oc.artcode}"
                                                    value="#{oc.artcode}"
                                                    completeMethod="#{oc.collectMedicineList}" minQueryLength="3" size="50">
                                        <p:ajax event="itemSelect" listener="#{oc.collectSelectedMedicineDetails}" update=":orderCreation:gold"/>
                                    </p:autoComplete>
                                </h:panelGrid>

                                <h:panelGrid columns="4" cellpadding="5" cellspacing="5" >
                                    <p:dataTable value="#{oc.itemdetail}" var="g" id="gold">
                                        <p:column headerText="ARTCODE" >
                                            <h:outputText value="#{g.artcode}" id="artcode" />
                                        </p:column>

                                        <p:column headerText="ITEM NAME" >
                                            <h:outputText value="#{g.artname}" id="itemname" />
                                        </p:column>

                                        <p:column headerText="Required QTY" >
                                            <p:inputMask
                                                mask="9?999"
                                                maxlength="5"
                                                value="#{oc.reqQTY}" size="5"/>
                                        </p:column>

                                        <p:column headerText="Action">
                                            <p:commandButton ajax="true" value="Add" actionListener="#{oc.addCart}" update=":orderCreation:myc">
                                                <f:param name="gartcode" value="#{g.artcode}" />
                                                <f:param name="gartname" value="#{g.artname}" />
                                                <f:param name="gqoh" value="#{g.qoh}" />
                                                <f:param name="gmrp" value="#{g.mrp}" />
                                            </p:commandButton>
                                        </p:column>

                                        <f:facet name="footer">

                                        </f:facet>
                                    </p:dataTable>
                                </h:panelGrid>

                            </p:panel>
                            <p:panel header="Ordered Medicine">
                                <p:contextMenu for="myc">
                                    <p:menuitem value="Delete" update="myc" icon="ui-icon-close" actionListener="#{oc.deleteItem}"/>
                                </p:contextMenu>
                                <p:dataTable value="#{oc.cart}" id="myc" var="myCart"
                                             editable="true" rowKey="#{myCart.artcode}"
                                             selection="#{oc.selectedItem}" selectionMode="single"
                                             scrollHeight="200" scrollable="true">
                                    <p:ajax event="rowEdit" listener="#{oc.onRowEditing}" update=":orderCreation:msgs" />
                                    <p:ajax event="rowEditCancel" listener="#{oc.onRowCancel}" update=":orderCreation:msgs" />
                                    <p:column headerText="ARTICLE CODE">
                                        <h:outputText value="#{myCart.artcode}" />
                                    </p:column>
                                    <p:column headerText="ITEM NAME">
                                        <h:outputText value="#{myCart.artname}" />
                                    </p:column>

                                    <p:column headerText="REQUIRED QTY">
                                        <p:cellEditor>
                                            <f:facet name="output">
                                                <h:outputText value="#{myCart.reqQTY}" />
                                            </f:facet>
                                            <f:facet name="input">
                                                <h:inputText value="#{myCart.reqQTY}" required="true" requiredMessage="Invalid Input"/>
                                            </f:facet>
                                        </p:cellEditor>
                                    </p:column>
                                    <p:column headerText="MRP">
                                        <h:outputText value="#{myCart.mrp}" />
                                    </p:column>
                                    <p:column headerText="Edit/Delete">
                                        <p:rowEditor/>
                                    </p:column>
                                </p:dataTable>

                                <h:panelGrid columns="4" cellpadding="5" cellspacing="5">

                                    <h:outputText value="Delivery Mode"/>
                                    <p:selectOneMenu id="delmode" value="#{oc.deliveryMode}">
                                        <f:selectItem itemLabel="By SHOP" itemValue="By SHOP" />
                                        <f:selectItem itemLabel="Pick by Customer" itemValue="Pick by Customer" />
                                    </p:selectOneMenu>

                                    <h:outputText value="Delivery Date/Time"/>
                                    <p:calendar readonlyInput="true"
                                                requiredMessage="Please select a date" locale="en"
                                                timeZone="GMT+5.30" value="#{oc.delDT}"
                                                mindate="#{oc.delDT}"
                                                pattern="MM/dd/yyyy HH:mm">
                                    </p:calendar>

                                    <h:outputText value="Payment Mode"/>
                                    <p:selectOneMenu id="PAYmode" value="#{oc.paymentMode}">
                                        <f:selectItem itemLabel="COD" itemValue="CASH" />
                                        <f:selectItem itemLabel="Cashless" itemValue="CREDIT" />
                                        <f:selectItem itemLabel="ONLINE" itemValue="ONLINE" />  
                                    </p:selectOneMenu>

                                    <h:outputText value="Remarks" />
                                    <p:inputTextarea rows="6" cols="33" value="#{oc.remarks}"  />



                                    <h:outputText value="Order Source* " />
                                    <p:selectOneMenu id="ordTypelist" value="#{oc.vendorName}" >
                                        <f:selectItem itemLabel="Whatsapp" itemValue="Whatsapp"/>
                                        <f:selectItem itemLabel="MediAssist" itemValue="MediAssist"/>
                                        <f:selectItem itemLabel="Call" itemValue="Call"/>
                                        <f:selectItem itemLabel="SMS" itemValue="SMS"/>
                                        <f:selectItem itemLabel="HAPP" itemValue="HAPP"/>
                                        <f:selectItem itemLabel="JUST DIAL CALL" itemValue="JUST DIAL CALL"/>
                                        <f:selectItem itemLabel="JUST DIAL MAIL" itemValue="JUST DIAL MAIL"/>
                                        <f:selectItem itemLabel="DOCSAPP" itemValue="DOCSAPP"/>
                                        <f:selectItem itemLabel="GROFERS" itemValue="GROFERS"/>
                                        <f:selectItem itemLabel="MAIL" itemValue="MAIL"/>
                                        <f:selectItem itemLabel="OTHERS" itemValue="OTHERS"/>
                                    </p:selectOneMenu>
                                </h:panelGrid>
                                <p:panel header=" Discounts" >
                                    <h:panelGrid columns="9" cellpadding="5" cellspacing="5">
                                        <h:outputText value="FMCG"/>
                                        <p:inputText id="fmcgdiscount" readonly="true" value="#{oc.fmcgdisc}"  style="width: 25px"/>
                                        <p:slider for="fmcgdiscount" step="1" maxValue="5" style="width: 75px" />

                                        <h:outputText value="PHARMA"/>
                                        <p:inputText id="pharmadiscount" readonly="true" value="#{oc.pharmdisc}"  style="width: 25px"/>
                                        <p:slider for="pharmadiscount" step="1" maxValue="10" style="width: 75px" />

                                        <h:outputText value="PL"/>
                                        <p:inputText id="pldiscount" readonly="true" value="#{oc.pldisc}"  style="width: 25px"/>
                                        <p:slider for="pldiscount" step="1" maxValue="15" style="width: 75px" />

                                    </h:panelGrid>
                                </p:panel>


                            </p:panel>

                            <center>
                                <p:commandButton action="#{oc.doOrderFinalize}" value="Finalize"
                                                 update="confirmation"
                                                 onclick="jQuery(this).addClass('ui-state-disabled')">

                                </p:commandButton>
                            </center>
                            <p:confirmDialog global="true" id="myDialogID" showEffect="explode" hideEffect="explode">

                            </p:confirmDialog>
                            <p:dialog id="confirmation" modal="true"
                                      header="Order Confirmation"
                                      visible="#{oc.dialogVisible}" closable="false">
                                <center>
                                    <h:panelGrid columns="1" cellpadding="4" cellspacing="4">

                                        <h:outputText value="Order (#{oc.genOrdNo}) created successfully!" />
                                        <h:form id="imgupl">

                                            <p:commandButton value="OK" ajax="false" action="tpo?faces-redirect=true">

                                            </p:commandButton>
                                        </h:form>
                                    </h:panelGrid>
                                </center>
                            </p:dialog>
                        </p:tab>
                    </p:panel>
                </h:form>
            </ui:define>

        </ui:composition>

    </body>
</html>

