<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>

        <ui:composition template="./master.xhtml">
            <ui:define name="content">
                <h:form id="otprepForm">
                    <p:ajaxStatus onstart="PF('statusDialog').show();" onsuccess="PF('statusDialog').hide();"/>
                    <p:dialog modal="true" widgetVar="statusDialog" header="Status - Please wait while processing"
                              draggable="false" closable="false">
                        <p:graphicImage value="/images/ajaxloadingbar.gif" />
                    </p:dialog>
                    <p:panel>
                        <h:panelGrid columns="5">
                            From Date <p:calendar id="ordFDate"
                                                  value="#{baseRep.ordFDate}"
                                                  pattern="yyyy/MM/dd"
                                                  maxdate="calwidget.today()"
                                                  timeZone="GMT+5.30">
                                <p:ajax event="dateSelect" listener="#{baseRep.onFromDateSelect()}" update="ordTDate" />
                            </p:calendar>
                            To Date <p:calendar id="ordTDate"
                                                value="#{baseRep.ordTDate}"
                                                pattern="yyyy/MM/dd"
                                                maxdate="calwidget.today()"
                                                timeZone="GMT+5.30">
                                <p:ajax event="dateSelect" listener="#{baseRep.onToDateSelect()}" update="ordFDate" />
                            </p:calendar>
                            <p:commandButton action="#{baseRep.generateOTPlog}"
                                             value="Generate Report" update="otpLog" />
                        </h:panelGrid>
                        <h:panelGrid columns="2"  columnClasses="alignTop,alignTop"  id="otpLog">
                            <p:dataTable var="log" value="#{baseRep.otplog}" 
                                         widgetVar="log" 
                                         rowIndexVar="rowIndex"
                                         filteredValue="#{baseRep.filteredSumReport}" filterDelay="600"
                                         paginator="true"  rows="50"
                                         draggableColumns="true"
                                         currentPageReportTemplate="Showing {startRecord}-{endRecord} out of {totalRecords}"
                                         paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                         rowsPerPageTemplate="50,100,500,1000,5000"
                                         style="width: 100%"
                                         scrollable="true" scrollHeight="375" >
                                <p:column headerText="SITEID" filterBy="#{log.siteid}" filterMatchMode="contains">
                                    <h:outputText value="#{log.siteid}" />
                                </p:column>
                                <p:column headerText="CUSTOMER MOBILENO" filterBy="#{log.contactno}" filterMatchMode="contains">
                                    <h:outputText value="#{log.contactno}" />
                                </p:column>
                                <p:column headerText="GENERATED OTP">
                                    <h:outputText value="#{log.otp}" />
                                </p:column>
                                <p:column headerText="PROCESSED BY" filterBy="#{log.processby}" filterMatchMode="contains">
                                    <h:outputText value="#{log.processby}" />
                                </p:column>
                                <p:column headerText="PROCESSED DATE">
                                    <h:outputText value="#{log.loggedon}" />
                                </p:column>
                            </p:dataTable>  
                            <h:panelGrid>
                                <p:dataTable value="#{baseRep.otplogpersonwise}" var="sum">
                                    <p:column headerText="PROCESS PERSON">
                                        <h:outputText value="#{sum.processby}" />
                                    </p:column>
                                    <p:column headerText="ATTEND CALLS">
                                        <h:outputText value="#{sum.count}" />
                                    </p:column>
                                </p:dataTable>
                                
                            </h:panelGrid>
                        </h:panelGrid>
                    </p:panel>
                    <p:panel id="dataExport">
                        <h:commandLink id="excel">
                            <h:outputText value="Export to CSV"/>
                            <p:dataExporter type="csv" target="log" fileName="OTPLogs" />
                        </h:commandLink>
                    </p:panel>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

