<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
    <head>


    </head>
    <body>

        <ui:composition template="./master.xhtml">

            <ui:define name="content">
                <h:form id="RegistrationForm" prependId="false">
                    <p:panel header="New Customer Registration">
                        <p:messages autoUpdate="true" closable="true" showSummary="true"/>
                        <h:panelGrid columns="2">
                            <h:panelGrid columns="2" cellpadding="4" cellspacing="4">
                                <h:outputText value="First Name* " />
                                <p:inputText value="#{pa.firstName}"
                                             required="true"
                                             requiredMessage="Frist Name is required"/>

                                <h:outputText value="Last Name* " />
                                <p:inputText value="#{pa.lastName}"/>

                                <h:outputText value="Gender* " />
                                <p:selectOneButton value="#{pa.gender}" required="true"
                                                   requiredMessage="Please select a Gender">
                                    <f:selectItem itemLabel="Male" itemValue="M" />
                                    <f:selectItem itemLabel="Female" itemValue="F" />
                                </p:selectOneButton>

                                <h:outputText value="Age* " />
                                <p:inputMask mask="99"  value="#{pa.age}"
                                             required="true" size="10"
                                             requiredMessage="Age required"  />

                                <h:outputText value="Mobile Number* " />
                                <p:inputMask mask="9999999999" value="#{pa.mobNo}"/>

                                <h:outputText value="Mail ID* " />
                                <p:inputText value="#{pa.mailID}" size="40"
                                             requiredMessage="Please enter your email address."
                                             validatorMessage="Invalid email format">
                                    <f:validateRegex
                                        pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />
                                </p:inputText>
                            </h:panelGrid>
                            <h:panelGrid>
                                <p:fieldset legend="Address" style="margin-bottom:20px">
                                    <h:panelGrid columns="2" cellpadding="5">
                                        <ui:include src="latlog.xhtml" ></ui:include>
                                    </h:panelGrid>
                                </p:fieldset>
                            </h:panelGrid>
                        </h:panelGrid>
                        <p:commandButton value="Register" action="#{pa.registerPatient}" />

                    </p:panel>
                </h:form>
            </ui:define>

        </ui:composition>

    </body>
</html>
