<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<f:view xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:p="http://primefaces.org/ui"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:f="http://java.sun.com/jsf/core"       >

    <title>Apollo Pharmacy :: SOMS</title>
    <style type="text/css">
        .ui-widget,
        .ui-widget .ui-widget {
            font-size: 12px !important;
        }
        .alignBottom {
            vertical-align: baseline;
            border: 0;
        }
        .alignTop {
            vertical-align: top;
            border: 0;
        }
        .ui-datatable.ui-widget {
            width: 100% !Important;
        }
        .ui-datatable .ui-state-highlight {
            background-image: none;
            background-color: green;
        }
    </style>
    <body>
        <ui:composition template="/master.xhtml">
            <ui:define name="content">
                <h:form id="ordLandingPage">
                    <p:growl id="msg" showDetail="true" sticky="true" />

                    <!-- If idle 10 seconds, run 'idleDialog' -->
                    <p:idleMonitor timeout="5000" onidle="idleDialog.show()" />

                    <p:confirmDialog id="confirmDialog"
                                     message="You have been idle for at least 10 seconds, 
                                     Please click ok to continue."
                                     header="Are you there?" severity="alert" widgetVar="idleDialog">

                        <p:commandButton id="confirm" value="Ok" update="msg"
                                         oncomplete="idleDialog.hide()"
                                         actionListener="#{idleBean.welcomeListener}" />

                        <p:commandButton id="Logout" value="LogMeOut" update="msg"
                                         oncomplete="idleDialog.hide()"
                                         actionListener="#{idleBean.logoutListener}" />

                    </p:confirmDialog>
                    <p:ajaxStatus onstart="PF('statusDialog').show();" onsuccess="PF('statusDialog').hide();"/>
                    <p:dialog modal="true" widgetVar="statusDialog" header="Status - Please wait while processing"
                              draggable="false" closable="false">
                        <p:graphicImage value="/images/ajaxloadingbar.gif" />
                    </p:dialog>
                    <p:growl id="msgs" showSummary="true"/>
                    <p:messages id="MainTPVWindow" closable="true" >
                        <p:autoUpdate />
                    </p:messages>
                    <p:panel header="Order Summary - Apollo247 Orders" style="font-weight:  bolder" >
                        <f:facet name="header">
                            <p:toolbar>
                                <p:toolbarGroup align="left">
                                    <h:outputText value="Apollo247 Paid/COD Orders Summary (Auto Allocation)" />
                                </p:toolbarGroup>
                                <p:toolbarGroup align="right">
                                    <p:commandButton id="openordersSummary" icon="ui-icon-info" value="Over-all Order Summary"  type="button" />
                                    <p:overlayPanel id="OrderPanel" for="openordersSummary" hideEffect="fade" 
                                                    showCloseIcon="true"
                                                    dynamic="true" style="width:1000px" modal="true">
                                        <p:dataTable value="#{tporder.tpordsummary}" var="orderSum" scrollHeight="150" scrollable="true">

                                            <f:facet name="header">
                                                ORDER COUNT
                                            </f:facet>
                                            <p:columnGroup type="header">
                                                <p:row>
                                                    <p:column rowspan="2" headerText="Vendor" />
                                                    <p:column colspan="4" headerText="CART" />
                                                    <p:column rowspan="2" headerText="TOTAL" />
                                                    <p:column colspan="4" headerText="NON-CART" />
                                                    <p:column rowspan="2" headerText="TOTAL" />
                                                </p:row>     
                                                <p:row>
                                                    <p:column headerText="PHARMA" />
                                                    <p:column headerText="FMCG" />
                                                    <p:column headerText="BOTH" />
                                                    <p:column headerText="BLANK" />                                    
                                                    <p:column headerText="PHARMA" />
                                                    <p:column headerText="FMCG" />
                                                    <p:column headerText="BOTH" />
                                                    <p:column headerText="BLANK" />                                    
                                                </p:row>
                                            </p:columnGroup>

                                            <p:column>
                                                <h:outputText value="#{orderSum.vendor}" />
                                            </p:column>
                                            <p:column>
                                                <h:outputText value="#{orderSum.CPharma}" />
                                            </p:column>
                                            <p:column>
                                                <h:outputText value="#{orderSum.CFMCG}" />
                                            </p:column>
                                            <p:column>
                                                <h:outputText value="#{orderSum.CBoth}" />
                                            </p:column>
                                            <p:column>
                                                <h:outputText value="#{orderSum.CBlank}" />
                                            </p:column>
                                            <p:column>
                                                <h:outputText value="#{orderSum.CTotal}" style="font-weight: bolder" />
                                            </p:column>
                                            <p:column>
                                                <h:outputText value="#{orderSum.NCPharma}" />
                                            </p:column>
                                            <p:column>
                                                <h:outputText value="#{orderSum.NCFMCG}" />
                                            </p:column>
                                            <p:column>
                                                <h:outputText value="#{orderSum.NCBlank}" />
                                            </p:column>
                                            <p:column>
                                                <h:outputText value="#{orderSum.NCBoth}" />
                                            </p:column>
                                            <p:column>
                                                <h:outputText value="#{orderSum.NCTotal}"  style="font-weight: bolder"  />
                                            </p:column>
                                        </p:dataTable>
                                    </p:overlayPanel>
                                </p:toolbarGroup>
                            </p:toolbar>
                        </f:facet>
                        <p:dataTable value="#{tporder.tpordsum}" var="order" id="openorders"
                                     scrollable="true" scrollHeight="180" style="font-stretch: semi-expanded;font-variant: small-caps"
                                     filterDelay="800" filteredValue="#{tporder.filteredOrder}"
                                     selectionMode="single" selection="#{tporder.selectedOrder}"
                                     paginator="true" rows="50"
                                     currentPageReportTemplate="Showing {startRecord}-{endRecord} out of {totalRecords}"
                                     paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                     rowsPerPageTemplate="50,100,500,1000,5000"   
                                     rowKey="#{order.ordNo}" rowIndexVar="index" >
                            <p:ajax event="rowSelect" listener="#{tporder.onRowSelect}"  update=":ordLandingPage:Orderdetails"/>
                            <p:column headerText="Order Number" filterBy="#{order.ordNo}" filterMatchMode="contains">
                                <h:outputText value="#{order.ordNo}" />
                            </p:column>
                            <p:column headerText="Order Date" filterBy="#{order.ordDT}" filterMatchMode="contains">
                                <h:outputText value="#{order.ordDT}" />
                            </p:column>
                            <p:column headerText="Customer Name" filterBy="#{order.custName}" filterMatchMode="contains">
                                <h:outputText value="#{order.custName}" />
                            </p:column>                                                        
                            <p:column headerText="Customer Mobile Number" filterBy="#{order.mobNo}" filterMatchMode="contains">
                                <h:outputText value="#{order.mobNo}" />
                            </p:column>
                            <p:column headerText="Payment" filterBy="#{order.payment}" filterMatchMode="contains">
                                <h:outputText value="#{order.payment}" />
                            </p:column>
                            <p:column headerText="Shipping Mode" filterBy="#{order.shipping}" filterMatchMode="contains">
                                <h:outputText value="#{order.shipping}" />
                            </p:column>
                            <p:column headerText="CASH Quoted/Received">
                                <h:outputText value="#{order.receivedCash}" />
                            </p:column>
                            <p:column headerText="Payment Status" filterBy="#{order.TXNStatus}" filterMatchMode="contains">
                                <h:outputText value="#{order.TXNStatus}" />
                            </p:column>
                            <p:column headerText="Transaction ID" filterBy="#{order.TXNID}" filterMatchMode="contains">
                                <h:outputText value="#{order.TXNID}" />
                            </p:column>
                            <p:column headerText="Vendor" filterBy="#{order.vendorName}" filterMatchMode="contains">
                                <h:outputText value="#{order.vendorName}" />
                            </p:column>
                            <p:column headerText="Order Type" filterBy="#{order.is_med}" filterMatchMode="contains">
                                <h:outputText value="#{order.is_med}" />
                            </p:column>
                            <p:column headerText="City" filterBy="#{order.city}" filterMatchMode="contains">
                                <h:outputText value="#{order.city}" />
                            </p:column>
                            <p:column headerText="Postal" filterBy="#{order.postalCode}" filterMatchMode="contains">
                                <h:outputText value="#{order.postalCode}" />
                            </p:column>

                        </p:dataTable>
                        <h:commandLink id="OrderRep">
                            <h:outputText value="Export to CSV"/>
                            <p:dataExporter target="openorders" type="csv" fileName="openorders" />
                        </h:commandLink>
                    </p:panel>
                    <h:panelGrid id="Orderdetails" width="100%" cellpadding="5" cellspacing="5">
                        <p:panel header="Order Detail">
                            <p:tabView  id="details" orientation="top" activeIndex="0" >
                                <p:tab title="#{tporder.selectedOrder.custName} :: #{tporder.selectedOrder.mobNo} :: #{tporder.selectedOrder.vendorName} :: #{tporder.selectedOrder.ordNo} ::
                                       #{tporder.selectedOrder.payment} :: #{tporder.selectedOrder.shipping}" titleStyle="font-variant: small-caps"
                                       titletip="Customer and Order Info" id="custInfo">
                                    <center><h:outputText value="Delivery Address : #{tporder.selectedOrder.delAddress}" style="font-variant: small-caps; font-weight: bolder" /></center>
                                    <h:panelGrid columns="1" columnClasses="alignTop,alignTop" cellpadding="5" cellspacing="5">      
                                        <p:panel header="Prescriptions">
                                            <p:dataTable value="#{tporder.prescriptionURLs}" var="prescription">
                                                <p:column headerText="#{prescription.displayURL}">
                                                    <h:outputText value="#{prescription.prescURL}" escape="false" />
                                                </p:column>
                                            </p:dataTable>
                                        </p:panel>

                                        <h:panelGrid cellpadding="5" cellspacing="5">
                                            <p:panel header="Item Details">
                                                <p:dialog header="New Item" widgetVar="ProductAdd" showEffect="explode" closeOnEscape="true" modal="true">
                                                    <p:messages id="itemWindowmsg" >
                                                        <p:autoUpdate />
                                                    </p:messages>
                                                    <h:outputText value="Item Name*  "/>
                                                    <p:autoComplete dropdown="true" 
                                                                    emptyMessage="No ARTCODE found like this"
                                                                    queryDelay="600" 
                                                                    forceSelection="true" id="artc" scrollHeight="300"
                                                                    itemLabel="#{tporder.artname}" itemValue="#{tporder.artcode}"
                                                                    value="#{tporder.addNewArticle}"
                                                                    completeMethod="#{tporder.collectMedicineList}" minQueryLength="3" size="50">
                                                        <p:ajax event="itemSelect" listener="#{tporder.collectSelectedMedicineDetails}" update="newitem"  />
                                                    </p:autoComplete>
                                                    <p:separator />
                                                    <h:panelGrid id="newitem" columns="2" style="color: blueviolet" cellpadding="5" cellspacing="5">
                                                        <h:outputText value="ARTICLE NAME"/>
                                                        <h:outputText value="#{tporder.artname}" id="itemname" />

                                                        <h:outputText value="QTY" id="artcode" />
                                                        <p:inputMask
                                                            mask="9?999"
                                                            maxlength="5"
                                                            value="#{tporder.reqQTY}" size="5"/>

                                                        <h:outputText value="MRP"/>
                                                        <h:outputText value="#{tporder.mrp}" id="mrp" />
                                                        <h:outputText value="LINE COMMENT"/>
                                                        <h:inputText value="#{tporder.aplinecomment}" id="aplinecomment" />

                                                        <h:outputText value="PACK"/>
                                                        <h:outputText value="#{tporder.pack}" id="pack" />

                                                        <p:commandButton ajax="true" value="Add" actionListener="#{tporder.addItem}"  update="newlineitem" >
                                                            <f:param name="gartcode" value="#{tporder.artcode}" />
                                                            <f:param name="gartname" value="#{tporder.artname}" />
                                                            <f:param name="gmrp" value="#{tporder.mrp}" />
                                                            <f:param name="gpack" value="#{tporder.pack}" />
                                                        </p:commandButton>
                                                    </h:panelGrid>
                                                </p:dialog>

                                                <p:dataTable value="#{tporder.cart}" var="myCart" id="newlineitem"
                                                             editable="true" rowKey="#{myCart.artcode}"
                                                             selection="#{tporder.selectedItem}" selectionMode="single"
                                                             scrollHeight="150" scrollable="true">
                                                    <p:ajax event="rowEdit" listener="#{tporder.onRowEditing}" update="mrp"  />
                                                    <p:ajax event="rowEditCancel" listener="#{tporder.onRowCancel}" />
                                                    <f:facet name="header">
                                                        <div align="right">	
                                                            <p:commandButton value="Add Item" icon="ui-icon-plusthick" type="button" onclick="PF('ProductAdd').show();" />
                                                            <p:commandButton ajax="true" value="Add Comment to this Order" update=":ordLandingPage:agentcomment" type="button"
                                                                             onclick="PF('agentcomment').show();"
                                                                             icon="ui-icon-comment" > 
                                                            </p:commandButton>
                                                            <p:commandButton value="Trigger On-HOLD SMS" icon="ui-icon-notice" actionListener="#{tporder.sendOnHoldSMS}" />

                                                        </div>
                                                    </f:facet>

                                                    <p:column headerText="ARTICLE CODE">
                                                        <h:outputText value="#{myCart.artcode}" />
                                                    </p:column>
                                                    <p:column headerText="ITEM NAME">
                                                        <h:outputText value="#{myCart.artname}" />
                                                    </p:column>

                                                    <p:column headerText="REQUIRED QTY">
                                                        <h:outputText value="#{myCart.reqQTY}" />
                                                    </p:column>

                                                    <p:column headerText="CUSTOMER (or) AGENT ORDERED">
                                                        <p:cellEditor>
                                                            <f:facet name="output">
                                                                <h:outputText value="#{myCart.qoh}" />
                                                            </f:facet>
                                                            <f:facet name="input">
                                                                <h:inputText value="#{myCart.qoh}" required="true" requiredMessage="Invalid Input" id="Qty"/>
                                                            </f:facet>
                                                        </p:cellEditor>

                                                    </p:column>
                                                    <p:column headerText="PACK">
                                                        <h:outputText value="#{myCart.pack}" />
                                                    </p:column>
                                                    <p:column headerText="MRP">
                                                        <h:outputText value="#{myCart.mrp}" id="mrp" />
                                                    </p:column>
                                                    <p:column headerText="Apollo Comment">
                                                        <p:cellEditor>
                                                            <f:facet name="output">
                                                                <h:outputText value="#{myCart.aplinecomment}" />
                                                            </f:facet>
                                                            <f:facet name="input">
                                                                <h:inputTextarea value="#{myCart.aplinecomment}" id="apollocomment" />
                                                            </f:facet>
                                                        </p:cellEditor>

                                                    </p:column>
                                                    <p:column headerText="Vendor Comment">
                                                        <h:outputText value="#{myCart.tplinecomment}" id="tplinecomment"/>
                                                    </p:column>

                                                    <p:column headerText="Edit">
                                                        <p:rowEditor/>
                                                        <p:commandButton ajax="true" icon="ui-icon-trash" actionListener="#{tporder.deleteAction(myCart)}" update="newlineitem" >

                                                        </p:commandButton>
                                                    </p:column>                                                   
                                                </p:dataTable>

                                                <p:dialog header="Comment" widgetVar="agentcomment" modal="true" height="400" width="750px" closeOnEscape="true" >
                                                    <h:panelGrid columns="1" id="agentcomment" cellpadding="5" cellspacing="5" >
                                                        <h:panelGrid columns="2" cellpadding="5" cellspacing="5">
                                                            <p:outputLabel value="OrderNo" />
                                                            <h:outputText value="#{tporder.selectedOrder.ordNo}" style="font-weight:bold; color: navy" />

                                                            <p:outputLabel value="Customer Name" />
                                                            <h:outputText value="#{tporder.selectedOrder.custName}" style="font-weight:bold; color: navy" />

                                                            <p:outputLabel value="Customer Mobile Number" />
                                                            <h:outputText value="#{tporder.selectedOrder.mobNo}" style="font-weight:bold; color: navy" />

                                                            <p:outputLabel value="Order Type" />
                                                            <h:outputText value="#{tporder.selectedOrder.is_med}" style="font-weight:bold; color: navy" />

                                                            <p:outputLabel value="Comments" />
                                                            <p:inputTextarea value="#{tporder.commentData}"/>
                                                        </h:panelGrid>
                                                        <h:panelGrid columns="3">
                                                            <p:commandButton value="Add Comment" actionListener="#{tporder.Addcomment}"
                                                                             ajax="true" onclick="PF('agentcomment').hide();">                                                               
                                                            </p:commandButton>                                                              
                                                        </h:panelGrid>
                                                        <h:panelGrid>
                                                            <p:panel header="Feeded Comments">
                                                                <p:dataTable value="#{tporder.thisOrderComment}" var="comment">
                                                                    <p:column headerText="Comment By" >
                                                                        <h:outputText value="#{comment.commentBy}" />
                                                                    </p:column>
                                                                    <p:column headerText="Comments">
                                                                        <h:outputText value="#{comment.commentData}" />
                                                                    </p:column>
                                                                    <p:column headerText="Comment on">
                                                                        <h:outputText value="#{comment.commentOn}" />
                                                                    </p:column>
                                                                </p:dataTable>
                                                            </p:panel>
                                                        </h:panelGrid>
                                                    </h:panelGrid>
                                                </p:dialog> 
                                                <h:panelGrid columns="6" cellpadding="5" cellspacing="5">
                                                    <h:outputText value="Delivery Mode"/>
                                                    <p:selectOneMenu id="ordTypelist" value="#{tporder.shipping}" >
                                                        <f:selectItem  itemLabel="#{tporder.selectedOrder.shipping}" itemValue="#{tporder.selectedOrder.shipping}"/>
                                                    </p:selectOneMenu>

                                                    <h:outputText value="Order Type"/>
                                                    <h:outputText value="#{tporder.selectedOrder.is_med}" />

                                                    <h:outputText value="Delivery Date/Time"/>
                                                    <p:calendar readonlyInput="true"
                                                                requiredMessage="Please select a date" locale="en"
                                                                timeZone="GMT+5.30" value="#{tporder.delDT}"
                                                                mindate="#{tporder.delDT}"
                                                                pattern="MM/dd/yyyy">
                                                    </p:calendar>

                                                    <h:outputText value="Payment Mode"/>
                                                    <p:selectOneMenu id="ordPaymentList" value="#{tporder.payment}" >
                                                        <f:selectItem  itemLabel="#{tporder.selectedOrder.payment}" itemValue="#{tporder.selectedOrder.payment}"/>
                                                    </p:selectOneMenu>

                                                    <h:outputText value="Remarks" />
                                                    <p:inputText value="#{tporder.remarks}"  />

                                                    <h:outputText value="Order Source* " />
                                                    <h:outputText value="#{tporder.selectedOrder.vendorName}" />

                                                    <h:outputText value="Preffered Shop " />
                                                    <h:outputText value="#{tporder.selectedOrder.prefferedSiteID}" />

                                                    <p:commandButton value="Verified" actionListener="#{tporder.verifyOrder}" update=":ordLandingPage:openorders,newlineitem,details">
                                                        <f:param name="SplitStatus" value="1"/>
                                                    </p:commandButton>

                                                </h:panelGrid>                                                
                                                <p:messages showSummary="true">
                                                    <p:autoUpdate />     
                                                </p:messages>

                                            </p:panel>    


                                            <p:dialog widgetVar="Estimation" header="Estimation for #{tporder.selectedOrder.ordNo} - #{tporder.selectedOrder.vendorName}" 
                                                      modal="true" height="250" width="750px" closeOnEscape="true"
                                                      footer="Please Esc to close this window" >
                                                <h:panelGrid id="Estimation">
                                                    <p:panel header="ESTIMATION LINE ITEMS">
                                                        <p:dataTable value="#{tporder.cart}" var="cart"
                                                                     scrollable="true" scrollHeight="100" scrollWidth="700" >
                                                            <p:column headerText="ARTCODE">
                                                                <h:outputText value="#{cart.artcode}" />
                                                            </p:column>
                                                            <p:column headerText="ARTNAME">
                                                                <h:outputText value="#{cart.artname}" />
                                                            </p:column>
                                                            <p:column headerText="QTY">
                                                                <h:outputText value="#{cart.reqQTY}" />
                                                            </p:column>
                                                            <p:column headerText="PACK">
                                                                <h:outputText value="#{cart.pack}" />
                                                            </p:column>
                                                            <p:column headerText="MRP">
                                                                <h:outputText value="#{cart.mrp}" />
                                                            </p:column>
                                                            <p:column headerText="SUB-TOTAL">
                                                                <h:outputText value="#{cart.subtotal}" />
                                                            </p:column>
                                                        </p:dataTable>
                                                        <p:dataTable value="#{tporder.mdis}" var="l">
                                                            <p:column headerText="SITEID">
                                                                <h:outputText value="#{l.shopid}" />
                                                            </p:column>
                                                            <p:column headerText="ORDERID">
                                                                <h:outputText value="#{l.orderid}" />
                                                            </p:column>
                                                            <p:column headerText="Estimation Amount">
                                                                <h:outputText value="#{l.estimatedAmount}" />
                                                            </p:column>
                                                            <p:column>
                                                                <p:commandButton value="Send Estimation" actionListener="#{tporder.sendEstimation}" 
                                                                                 update=":ordLandingPage:openorders"
                                                                                 onclick="PF('Estimation').hide();"/>
                                                            </p:column>
                                                        </p:dataTable>
                                                    </p:panel>
                                                </h:panelGrid>
                                            </p:dialog>

                                        </h:panelGrid>
                                    </h:panelGrid>                                    
                                </p:tab>  
                                <p:tab title="Cancellation of #{tporder.selectedOrder.vendorName} Order : #{tporder.selectedOrder.ordNo}" disabled="#{tporder.cancelTabDisable}">
                                    <p:messages id="MainTPVCancelWindow" closable="true" >
                                        <p:autoUpdate />
                                    </p:messages>
                                    <p:panelGrid  columns="2" layout="grid" columnClasses="label,value" style="width:auto">

                                        <p:outputLabel for="BasecanRemarks" value="Base Reason : " />
                                        <p:selectOneMenu id="BasecanRemarks"  value="#{tporder.cancelBaseReason}"
                                                         styleClass="selectOneMenu">
                                            <p:ajax event="change" update="canRemarks" listener="#{tporder.updateCancelRemarks}" />
                                            <f:selectItem itemLabel="Select Base Bucket" ></f:selectItem>
                                            <f:selectItems value="#{tporder.cancelBase}" >
                                            </f:selectItems>
                                        </p:selectOneMenu>

                                        <p:outputLabel for="canRemarks" value="Sub Reason : " />
                                        <p:selectOneMenu id="canRemarks" style="width:125px" value="#{tporder.cancelRemarksCode}" >
                                            <f:selectItem itemLabel="Select One" itemValue="#{null}" />
                                            <f:selectItems value="#{tporder.canRem}" var="item" itemLabel="#{item.cr}" itemValue="#{item.crcode}" />
                                        </p:selectOneMenu>

                                        <p:commandButton value="Cancel" image="ui-icon-close"
                                                         disabled="#{tporder.cancelTabDisable}"
                                                         actionListener="#{tporder.doCancellation}"
                                                         update=":ordLandingPage:openorders,newlineitem,details">                                            
                                        </p:commandButton>
                                    </p:panelGrid>

                                </p:tab>
                            </p:tabView>
                        </p:panel>
                    </h:panelGrid>

                </h:form>
            </ui:define>

        </ui:composition>
    </body>
</f:view>