<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
    <style>
        .ui-menubar,.ui-menu-child,.ui-menu {
            background: #004e8e !important;
            font:red;
        }
    </style>
    <body>
        <ui:composition template="./adminMaster.xhtml">
            <ui:define name="content">
                 <ui:include src="./CommonBaseReport.xhtml" />
            </ui:define>
        </ui:composition>
    </body>
</html>
