<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <body>

        <ui:composition template="./master.xhtml">

            <ui:define name="content">
                <h:form>
                    <p:panel header="Shop Selection">
                        <p:messages autoUpdate="true" closable="true" showSummary="true"/>
                        <h:panelGrid columns="2" cellpadding="5" cellspacing="4">

                            <p:outputLabel value="Region" for="region"/>
                            <p:selectOneMenu value="#{sl.region}" id="region">
                                <p:ajax listener="#{sl.shops}" update="shopname"/>
                                <f:selectItem itemLabel="Select Region" itemValue="" itemDisabled="true"/>
                                <f:selectItems value="#{pr.region}" var="region"
                                               itemLabel="#{region.region_name}"
                                               itemValue="#{region.region_name}">

                                </f:selectItems>
                            </p:selectOneMenu>

                            <p:outputLabel value="Shop" for="shopname"/>
                            <p:selectOneMenu value="#{sl.shopid}" id="shopname" required="true" requiredMessage="Please Select a SHOP">
                                <f:selectItem itemLabel="Select Region" itemValue="" itemDisabled="true"/>
                                <f:selectItems value="#{sl.shop}" var="apollo"
                                               itemLabel="#{apollo.shopname}"
                                               itemValue="#{apollo.shopid}">
                                </f:selectItems>
                            </p:selectOneMenu>

                        </h:panelGrid>
                        <p:commandButton value="Submit" action="orderCreation">
                            <f:param name="shopid" value="#{sl.shopid}"/>
                        </p:commandButton>
                    </p:panel>
                </h:form>
            </ui:define>

        </ui:composition>

    </body>
</html>
