<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <link rel="shortcut icon" href="favicon.ico" />
        <style type="text/css">
            .ui-widget,
            .ui-widget .ui-widget {
                font-size: 10px !important;
                text-align: left;
            }
            .alignBottom {
                vertical-align: baseline;
                border: 0;
            }
            .alignTop {
                vertical-align: top;
                border: 0;
            }
            .ui-datatable.ui-widget {
                width: 100% !Important;
            }
        </style>
    </h:head>
    <h:body>
        <ui:composition template="./master.xhtml">
            <ui:define name="content">
                <h:form>
                    <h:panelGrid cellpadding="5" cellspacing="5">
                        <p:panel header="SITE CHANGE">
                            <p:messages id="msgs" autoUpdate="true" closable="true" />
                            <h:panelGrid columns="2">
                                <h:outputText value="ORDER NO" />
                                <p:autoComplete required="true" dropdown="true" requiredMessage="APOLLO ORDER ID NOT FOUND"
                                                emptyMessage="No shop found like this"
                                                queryDelay="600" 
                                                forceSelection="true" id="sd" maxResults="10"
                                                value="#{sChange.ordno}" 
                                                completeMethod="#{sChange.complete}" minQueryLength="3" size="20">
                                    <p:ajax event="itemSelect" listener="#{sChange.action}" update="ordid" /> 
                                </p:autoComplete>
                            </h:panelGrid>
                            <h:panelGrid id="ordid" columns="2">

                                <h:outputLabel value="SITEID *" />
                                <h:outputText value="#{sChange.siteid}"/>

                                <h:outputLabel value="VENDOR NAME *" />
                                <h:outputText value="#{sChange.ordersource}"/>

                                <h:outputLabel value="ORDERED DATE *" />
                                <h:outputText value="#{sChange.orddate}"/>

                                <h:outputText value="NEW SITEID" />
                                <p:autoComplete required="true" dropdown="true" requiredMessage="Site Name/No is required"
                                                emptyMessage="No shop found like this"
                                                queryDelay="600" 
                                                forceSelection="true" id="cs" maxResults="10"
                                                value="#{sChange.newSite}" 
                                                completeMethod="#{sChange.completeSITE}" minQueryLength="3" size="20">                                    
                                </p:autoComplete>

                                <p:commandButton value="CHANGE SITE" ajax="true" oncomplete="PF('STATUS').show()" update="confirmation"  actionListener="#{sChange.initiateSiteChange}" />

                            </h:panelGrid>
                            <p:dialog id="confirmation" widgetVar="STATUS" header="Requirement Registered Successfully" modal="true">
                                <h:outputText value="Ticketno is #{sChange.respMessage}" />
                                <p:commandButton value="OK" action="defaultcLander"/>
                            </p:dialog>
                        </p:panel>
                    </h:panelGrid>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

