<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Apollo Pharmacy :: COMMAND CENTER</title>
    </h:head>
    <h:body>
        
            <ui:define name="content">
                <h:form>
                    <p:growl id="msgs" showDetail="true" />

                    <p:dashboard id="board" model="#{dashboardView.model}">
                        <p:ajax event="reorder" listener="#{dashboardView.handleReorder}" update="msgs" />

                        <p:panel id="sports" header="Sports">
                            <h:outputText value="Sports Content" />
                        </p:panel>

                        <p:panel id="finance" header="Finance">
                            <h:outputText value="Finance Content" />
                        </p:panel>

                        <p:panel id="lifestyle" header="Lifestyle">
                            <h:outputText value="Lifestyle Content"  />
                        </p:panel>

                        <p:panel id="weather" header="Weather">
                            <h:outputText value="Weather Content" />
                        </p:panel>

                        <p:panel id="politics" header="Politics">
                            <h:outputText value="Politics Content" />
                        </p:panel>
                    </p:dashboard>


                </h:form>
            </ui:define>
    </h:body>
</html>

