<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<f:view xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:p="http://primefaces.org/ui"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:f="http://java.sun.com/jsf/core">

    <title>Apollo Pharmacy :: test</title>
    <body>
        <h:form id="user-form">  
            <h:outputLabel for="username">User Name</h:outputLabel>  
            <h:inputText id="username" value="#{tporder.artname}" required="true" requiredMessage="Username is required"/>  
            <h:commandButton id="submit-button" value="Submit" action=""/>  
        </h:form>  

    </body>
</f:view>