<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
    <body>
        <ui:include src="./sessionTimeOut.xhtml" />
        <ui:composition template="./master.xhtml">
            <ui:define name="content">
                <h:form id="dilogFRM">
                    <p:ajaxStatus onstart="PF('statusDialog').show();" onsuccess="PF('statusDialog').hide();"/>
                    <p:dialog modal="true" widgetVar="statusDialog" header="Status - Please wait while processing"
                              draggable="false" closable="false">
                        <p:graphicImage value="/images/ajaxloadingbar.gif" />
                    </p:dialog>
                    <p:growl id="msgs" showSummary="true"/>
                    <p:panel header="Thirdparty Order">
                                <p:dataTable value="#{shoptimize.ordSum}" var="ordSum" widgetVar="ordSumTable"                                          
                                             scrollable="true" scrollHeight="300px" filterDelay="600" filteredValue="#{shoptimize.filterOrdSum}">
                                    <p:column headerText="Order Number" filterBy="#{ordSum.ordNo}" filterMatchMode="contains">
                                        <h:outputText value="#{ordSum.ordNo}"/>
                                    </p:column>
                                    <p:column headerText="Customer Name" filterBy="#{ordSum.custName}" filterMatchMode="contains">
                                        <h:outputText value="#{ordSum.custName}"/>
                                    </p:column>
                                    <p:column headerText="Mobile Number" filterBy="#{ordSum.mobNo}" filterMatchMode="contains">
                                        <h:outputText value="#{ordSum.mobNo}"/>
                                    </p:column>
                                    <p:column headerText="Order Date-Time">
                                        <h:outputText value="#{ordSum.ordDT}"/>
                                    </p:column>
                                    <p:column headerText="Order Type">
                                        <h:outputText value="#{ordSum.is_med}"/>
                                    </p:column>
                                    <p:column headerText="Delivery Mode">
                                        <h:outputText value="#{ordSum.shipping}"/>
                                    </p:column>
                                    <p:column headerText="Payment Method">
                                        <h:outputText value="#{ordSum.payment}"/>
                                    </p:column>
                                    <p:column headerText="RECEIVED CASH">
                                        <h:outputText value="#{ordSum.receivedCash}"/>
                                    </p:column>                                    
                                    <p:column headerText="Vendor Name" filterBy="#{ordSum.vendorName}" filterMatchMode="contains">
                                        <f:facet name="Vfilter">
                                            <p:selectOneMenu onchange="PF('ordSumTable').filter()" >
                                                <f:selectItem itemLabel="Select One" itemValue="#{null}" noSelectionOption="true" />
                                                <f:selectItem itemLabel="AskApollo" itemValue="AskApollo" />
                                                <f:selectItem itemLabel="MediAssist" itemValue="MediAssist" />
                                            </p:selectOneMenu>
                                        </f:facet>
                                        <h:outputText value="#{ordSum.vendorName}"/>
                                    </p:column>

                                    <p:column>
                                        <p:commandButton value="Details" 
                                                         action="#{shoptimize.showShoptimizeOrderDetail}" update=":dilogFRM:OrderDetails">
                                            <f:param name="ordNo" value="#{ordSum.ordNo}"/>
                                            <f:param name="patID" value="#{ordSum.patID}"/>
                                            <f:setPropertyActionListener value="#{ordSum}" target="#{shoptimize.selectedOrder}"/>
                                        </p:commandButton>

                                    </p:column>
                                    <p:column>
                                        <p:commandButton value="Cancel this Order" type="button" onclick="PF('dlg2').show();" >
                                            <f:param name="vendorName" value="#{ordSum.vendorName}" />
                                        </p:commandButton>
                                    </p:column>
                                </p:dataTable>
                                <p:dialog header="Modal Dialog" widgetVar="dlg2" modal="true" height="100">
                                    
                                </p:dialog>
                          
                                <p:messages autoUpdate="true" closable="true" />
                                <p:panel header="Details of Order No - #{shoptimize.selectedOrder.ordNo}">
                                    <p:dataTable value="#{shoptimize.custInfo}" var="ci"
                                                 editable="true" id="custInfo"
                                                 style="width: 100%; ">
                                        <p:column headerText="Customer Name" style="width: 10%; text-align: center; font-variant: small-caps">
                                            <h:outputText value="#{ci.firstName}"/>
                                        </p:column>
                                        <p:column headerText="Mobile Number" style="width: 10%; text-align: center; font-variant: small-caps">
                                            <h:outputText value="#{shoptimize.selectedOrder.mobNo}"/>
                                        </p:column>                                        
                                        <p:column headerText="Customer Address" style="width: 10%; text-align: center; font-variant: small-caps">
                                            <h:outputText value="#{ci.commAddr}"/>
                                        </p:column>
                                    </p:dataTable>
                                    <p:panel header="Shop Selection">
                                        <h:panelGrid columns="4" width="100%" id="inp">
                                            <p:outputLabel value="SHOP " for="shop" />
                                            <p:autoComplete dropdown="true" id="shop"
                                                            required="true"
                                                            requiredMessage="Site Name/No is required"
                                                            emptyMessage="No shop found like this"
                                                            queryDelay="600" size="50"
                                                            forceSelection="true" maxResults="10"
                                                            value="#{oc.shopid}"
                                                            completeMethod="#{oc.complete}" />
                                            <h:outputText value="VENDOR PREFFERED SHOPID "/>
                                            <h:outputText value="#{shoptimize.shoptimize_site_id}" />
                                        </h:panelGrid>
                                    </p:panel>

                                    <p:panel header="Medicine Details" id="carting" visible="true">
                                        <h:panelGrid columns="6" cellpadding="4" cellspacing="4">
                                            <h:outputText value="Item Name*  "/>
                                            <p:autoComplete dropdown="true" 
                                                            emptyMessage="No ARTCODE found like this"
                                                            queryDelay="600"
                                                            forceSelection="true" id="artc" maxResults="10"
                                                            itemLabel="#{oc.artname}" itemValue="#{oc.artcode}"
                                                            value="#{shoptimize.artcode}"
                                                            completeMethod="#{oc.collectMedicineList}" minQueryLength="3" size="50">
                                                <p:ajax event="itemSelect" listener="#{shoptimize.collectSelectedMedicineDetails}" update=":dilogFRM:gold"/>
                                            </p:autoComplete>
                                            <p:dataTable value="#{shoptimize.itemdetail}" var="g" id="gold">
                                                <p:column headerText="ARTCODE" >
                                                    <h:outputText value="#{g.artcode}" id="artcode" />
                                                </p:column>

                                                <p:column headerText="ITEM NAME" >
                                                    <h:outputText value="#{g.artname}" id="itemname" />
                                                </p:column>

                                                <p:column headerText="Required QTY" >
                                                    <p:inputMask
                                                        mask="9?999"
                                                        maxlength="5"
                                                        value="#{oc.reqQTY}" size="5"/>
                                                </p:column>
                                                <p:column headerText="Action">
                                                    <p:commandButton ajax="true" value="Add" actionListener="#{oc.addCart}" update=":dilogFRM:myc">
                                                        <f:param name="gartcode" value="#{g.artcode}" />
                                                        <f:param name="gartname" value="#{g.artname}" />
                                                        <f:param name="gqoh" value="#{g.qoh}" />
                                                        <f:param name="gmrp" value="#{g.mrp}" />
                                                    </p:commandButton>
                                                </p:column>

                                                <f:facet name="footer">

                                                </f:facet>
                                            </p:dataTable>
                                        </h:panelGrid>
                                    </p:panel>
                                    <h:panelGrid columns="2">
                                        <p:dataTable value="#{shoptimize.cart}" id="myVc" var="myCart"
                                                     editable="true" rowKey="#{myCart.artcode}"
                                                     selection="#{oc.selectedItem}" selectionMode="single"
                                                     scrollHeight="150" scrollable="true">
                                            <p:ajax event="rowEdit" listener="#{oc.onRowEditing}"  />
                                            <p:ajax event="rowEditCancel" listener="#{oc.onRowCancel}" />
                                            <p:column headerText="ARTICLE CODE">
                                                <h:outputText value="#{myCart.artcode}" />
                                            </p:column>
                                            <p:column headerText="ITEM NAME">
                                                <h:outputText value="#{myCart.artname}" />
                                            </p:column>

                                            <p:column headerText="REQUIRED QTY">
                                                <p:cellEditor>
                                                    <f:facet name="output">
                                                        <h:outputText value="#{myCart.reqQTY}" />
                                                    </f:facet>
                                                    <f:facet name="input">
                                                        <h:inputText value="#{myCart.reqQTY}" required="true" requiredMessage="Invalid Input"/>
                                                    </f:facet>
                                                </p:cellEditor>
                                            </p:column>
                                            <p:column headerText="MRP">
                                                <h:outputText value="#{myCart.mrp}" />
                                            </p:column>      
                                            <p:column headerText="Delete">
                                                <p:commandButton ajax="true" value="Delete" actionListener="#{shoptimize.deleteAction(myCart)}" update=":dilogFRM:myVc">
                                                    <f:param name="gartcode" value="#{myCart.artcode}" />
                                                    <f:param name="ordno" value=" #{shoptimize.selectedOrder.ordNo}" />
                                                </p:commandButton>
                                            </p:column>
                                        </p:dataTable>
                                        <p:dataTable value="#{oc.cart}" id="myc" var="myCart"
                                                     editable="true" rowKey="#{myCart.artcode}"
                                                     selection="#{oc.selectedItem}" selectionMode="single"
                                                     scrollHeight="150" scrollable="true">
                                            <p:ajax event="rowEdit" listener="#{oc.onRowEditing}" update="mrp"  />
                                            <p:ajax event="rowEditCancel" listener="#{oc.onRowCancel}" />
                                            <p:column headerText="ARTICLE CODE">
                                                <h:outputText value="#{myCart.artcode}" />
                                            </p:column>
                                            <p:column headerText="ITEM NAME">
                                                <h:outputText value="#{myCart.artname}" />
                                            </p:column>

                                            <p:column headerText="REQUIRED QTY">
                                                <p:cellEditor>
                                                    <f:facet name="output">
                                                        <h:outputText value="#{myCart.reqQTY}" />
                                                    </f:facet>
                                                    <f:facet name="input">
                                                        <h:inputText value="#{myCart.reqQTY}" required="true" requiredMessage="Invalid Input"/>
                                                    </f:facet>
                                                </p:cellEditor>
                                            </p:column>
                                            <p:column headerText="Edit">
                                                <p:rowEditor/>
                                            </p:column>
                                            <p:column headerText="Delete">
                                                <p:commandButton ajax="true" value="Delete" actionListener="#{oc.deleteAction(myCart)}" update=":dilogFRM:myc">
                                                </p:commandButton>
                                            </p:column>
                                        </p:dataTable>

                                    </h:panelGrid>




                                    <p:panel>
                                        <h:panelGrid columns="6" cellpadding="5" cellspacing="5">

                                            <h:outputText value="Delivery Mode"/>
                                            <h:outputText value="#{shoptimize.deliveryMode}" />

                                            <h:outputText value="Order Type"/>
                                            <h:outputText value="#{shoptimize.shoptimize_ordertype}" />

                                            <h:outputText value="Delivery Date/Time"/>
                                            <p:calendar readonlyInput="true"
                                                        requiredMessage="Please select a date" locale="en"
                                                        timeZone="GMT+5.30" value="#{oc.delDT}"
                                                        mindate="#{oc.delDT}"
                                                        pattern="MM/dd/yyyy HH:mm">
                                            </p:calendar>

                                            <h:outputText value="Payment Mode"/>
                                            <h:outputText value="#{shoptimize.paymentMode}" />

                                            <h:outputText value="Remarks" />
                                            <p:inputText value="#{oc.remarks}"  />

                                            <h:outputText value="Order Source* " />
                                            <p:selectOneMenu id="ordTypelist" value="#{oc.vendorName}" >
                                                <f:selectItem  itemLabel="#{shoptimize.selectedOrder.vendorName}" itemValue="#{shoptimize.selectedOrder.vendorName}"/>
                                            </p:selectOneMenu>
                                        </h:panelGrid>
                                        <p:dataTable value="#{shoptimize.upldprescimg}" var="img">
                                            <p:column headerText="Prescription">
                                                <a href="#{img.prescURL}" target="_blank">#{img.displayURL}</a> 
                                            </p:column>
                                        </p:dataTable>
                                    </p:panel>
                                    <center>
                                        <p:commandButton actionListener="#{oc.doShoptimizeOrderFinalize}" value="Finalize"
                                                         update="confirmation"
                                                         onclick="jQuery(this).addClass('ui-state-disabled')">
                                            <f:param name="origin" value="V" />
                                            <f:param name="patID" value="#{shoptimize.selectedOrder.patID}"/>
                                            <f:param name="vendOrdNo" value="#{shoptimize.selectedOrder.ordNo}" />
                                            <f:param name="shipping" value="#{shoptimize.selectedOrder.shipping}" />
                                            <f:param name="payment" value="#{shoptimize.selectedOrder.payment}" />
                                            <f:param name="vendName" value="#{shoptimize.selectedOrder.vendorName}" />
                                            <f:param name="cancel" value="false" />
                                        </p:commandButton>
                                    </center>
                                    <p:dialog id="confirmation" modal="true"
                                              header="Order Confirmation"
                                              visible="#{oc.dialogVisible}" closable="false">
                                        <center>
                                            <h:panelGrid columns="1" cellpadding="4" cellspacing="4">
                                                <h:outputText value="Order (#{oc.genOrdNo}) created successfully!" />
                                                <p:commandButton value="OK" action="hoLander"/>
                                            </h:panelGrid>
                                        </center>
                                    </p:dialog>

                                </p:panel>
                           
                    </p:panel>
                </h:form>
            </ui:define>
        </ui:composition>
    </body>
</html>

